workflows/03-instagram-auto-responder-FINAL.json
{
  "name": "Instagram Auto-Responder - FINAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=GET,POST",
        "path": "instagram-webhook",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Webhook Instagram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "instagram-webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// VERIFICACIÓN: Si tiene query['hub.challenge']\nif (data.query && data.query['hub.challenge']) {\n  return [\n    [{ json: data }],\n    []\n  ];\n}\n\n// COMENTARIO: Si tiene body.entry[0].changes[0].field === 'comments'\nif (data.body && \n    data.body.entry && \n    data.body.entry[0] && \n    data.body.entry[0].changes && \n    data.body.entry[0].changes[0] &&\n    data.body.entry[0].changes[0].field === 'comments') {\n  return [\n    [],\n    [{ json: data }]\n  ];\n}\n\nreturn [[], []];"
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "respond-verification",
      "name": "Responder Verificación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 350]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst entry = data.body.entry[0];\nconst change = entry.changes[0];\nconst value = change.value;\n\nreturn {\n  json: {\n    comment_id: value.id,\n    comment_text: value.text,\n    from_user_id: value.from.id,\n    from_username: value.from.username,\n    media_id: value.media?.id,\n    timestamp: value.timestamp\n  }\n};"
      },
      "id": "extract",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "guia",
              "leftValue": "={{ $json.comment_text }}",
              "rightValue": "guia",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "if-guia",
      "name": "Contiene GUÍA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.comment_id }}/replies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "IGAAKCIH9BRQZABZAGJ0VUd2dk5yZA0kwdENCbmRnSmdmRFZA5NlltLXNzOHlrZAFMtVGF6WmlLRC16UjFMU3FGYVlSajVTd0tNSncxMVdBVWJPdGNMdXk0SU1iTXZAMVVQ3S3QyMWpkZAGRZAVHNHWVNpalVXUGUyQ0pKVzFYZAWh5eGIyawZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "¡Hola! 👋 Te envío la información por mensaje directo"
            }
          ]
        },
        "options": {}
      },
      "id": "reply",
      "name": "Responder Comentario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "IGAAKCIH9BRQZABZAGJ0VUd2dk5yZA0kwdENCbmRnSmdmRFZA5NlltLXNzOHlrZAFMtVGF6WmlLRC16UjFMU3FGYVlSajVTd0tNSncxMVdBVWJPdGNMdXk0SU1iTXZAMVVQ3S3QyMWpkZAGRZAVHNHWVNpalVXUGUyQ0pKVzFYZAWh5eGIyawZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.from_user_id }}\"\n  },\n  \"message\": {\n    \"text\": \"¡Hola! 👋 Gracias por tu interés.\\n\\n📚 Aquí está tu guía completa sobre hábitos vitales: https://habitos-vitales.com\\n\\n¿Te gustaría recibir más contenido exclusivo? ¡Suscríbete a mi newsletter!\\n\\n✨ Nos vemos dentro!\"\n  }\n}",
        "options": {}
      },
      "id": "dm",
      "name": "Enviar DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 450]
    }
  ],
  "connections": {
    "Webhook Instagram": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Responder Verificación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Verificación": {
      "main": []
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Contiene GUÍA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contiene GUÍA?": {
      "main": [
        [
          {
            "node": "Responder Comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Comentario": {
      "main": [
        [
          {
            "node": "Enviar DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar DM": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder OK": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "instanceId": "local"
  },
  "pinData": {},
  "versionId": "FINAL"
}
