programa-camino-vital/workflows/_archive/Camino Vital - 09 Mostrar Sesión-BACKUP.json
{
  "name": "Camino Vital - 09 Mostrar Sesión",
  "nodes": [
    {
      "parameters": {
        "path": "sesion/:sesion_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a989723-b882-40be-a0d1-9d748d5c2c5a",
      "name": "Webhook Mostrar Sesión",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "view-session"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id as user_id, nombre, email, auth_token\nFROM programa_users\nWHERE auth_token = '{{ $json.query.token }}';",
        "options": {}
      },
      "id": "31c1f1a9-adc5-4d92-a11b-9ae679869bff",
      "name": "Validar Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usuarios = $input.all();\n\nif (usuarios.length === 0) {\n  throw new Error('Token inválido o expirado');\n}\n\nconst usuario = usuarios[0].json;\nconst sesionId = $node[\"Webhook Mostrar Sesión\"].json.params.sesion_id;\n\nconsole.log('✅ Token válido para usuario:', usuario.nombre);\n\nreturn {\n  json: {\n    user_id: usuario.user_id,\n    user_nombre: usuario.nombre,\n    user_email: usuario.email,\n    sesion_id: sesionId,\n    params: {\n      sesion_id: sesionId\n    }\n  }\n};"
      },
      "id": "1fdbc566-1a9a-4fc5-855d-7701a79883e9",
      "name": "Verificar Token Válido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Obtener sesión completa con datos del usuario\nSELECT \n  s.id,\n  s.titulo,\n  s.descripcion,\n  s.introduccion_personalizada,\n  s.enfoque,\n  s.duracion_estimada,\n  s.calentamiento,\n  s.trabajo_principal,\n  s.numero_sesion,\n  s.semana,\n  s.completada,\n  u.nombre as user_nombre,\n  u.email as user_email,\n  u.sesiones_objetivo_semana,\n  u.nivel_actual\nFROM programa_sesiones s\nJOIN programa_users u ON s.user_id = u.id\nWHERE s.id = {{ $json.params.sesion_id }}\n  AND u.id = {{ $json.user_id }};",
        "options": {}
      },
      "id": "e85d89f1-9c90-4096-94d7-d6630179f54e",
      "name": "Obtener Sesión",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir HTML de la página de sesión\nconst sesion = $input.first().json;\n\nif (!sesion || !sesion.id) {\n  throw new Error('Sesión no encontrada');\n}\n\n// Parsear JSONs si vienen como strings\nconst calentamiento = typeof sesion.calentamiento === 'string' \n  ? JSON.parse(sesion.calentamiento) \n  : sesion.calentamiento;\n  \nconst trabajoPrincipal = typeof sesion.trabajo_principal === 'string'\n  ? JSON.parse(sesion.trabajo_principal)\n  : sesion.trabajo_principal;\n\nconsole.log('📋 Generando página de sesión...');\nconsole.log(`🏋️ ${calentamiento.length} ejercicios de calentamiento`);\nconsole.log(`💪 ${trabajoPrincipal.length} ejercicios principales`);\n\n// URL base de Firebase Storage\nconst firebaseBaseUrl = 'https://firebasestorage.googleapis.com/v0/b/habit-tracker-73235.appspot.com/o/ejercicios%2F';\nconst firebaseToken = '?alt=media&token=6fefb8ba-de8e-44cb-a60f-f5b91c7c8f22';\n\n// Función auxiliar para generar HTML de un ejercicio\nfunction generarEjercicioHTML(ejercicio, index, esCalentamiento = false) {\n  const videoUrl = `${firebaseBaseUrl}${encodeURIComponent(ejercicio.nombre_archivo)}${firebaseToken}`;\n  const numeroEjercicio = esCalentamiento ? `C${index + 1}` : index + 1;\n  const colorBorde = esCalentamiento ? '#4CAF50' : '#667eea';\n  \n  return `\n    <div class=\"ejercicio\" style=\"background: white; border-radius: 12px; padding: 25px; margin-bottom: 25px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); border-left: 6px solid ${colorBorde};\">\n      <div class=\"ejercicio-header\" style=\"display: flex; align-items: center; margin-bottom: 15px;\">\n        <div class=\"ejercicio-numero\" style=\"background: ${colorBorde}; color: white; width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 18px; margin-right: 15px;\">\n          ${numeroEjercicio}\n        </div>\n        <h3 style=\"margin: 0; color: #333; font-size: 20px; flex: 1;\">${ejercicio.nombre_espanol}</h3>\n      </div>\n      \n      <div class=\"video-container\" style=\"position: relative; width: 100%; padding-bottom: 56.25%; background: #000; border-radius: 8px; overflow: hidden; margin-bottom: 15px;\">\n        <video \n          controls \n          playsinline\n          preload=\"metadata\"\n          style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;\"\n          poster=\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Crect fill='%23333' width='100' height='100'/%3E%3Ctext fill='%23fff' x='50%25' y='50%25' text-anchor='middle' dominant-baseline='middle' font-family='Arial' font-size='14'%3ECargando...%3C/text%3E%3C/svg%3E\"\n        >\n          <source src=\"${videoUrl}\" type=\"video/quicktime\">\n          <source src=\"${videoUrl}\" type=\"video/mp4\">\n          Tu navegador no soporta el tag de video.\n        </video>\n      </div>\n      \n      <div class=\"ejercicio-detalles\" style=\"background: #f8f9fa; padding: 15px; border-radius: 8px;\">\n        <div style=\"margin-bottom: 10px;\">\n          <strong style=\"color: #667eea;\">📊 Repeticiones:</strong> \n          <span style=\"color: #555; font-size: 16px;\">${ejercicio.repeticiones}</span>\n        </div>\n        <div style=\"margin-bottom: 10px;\">\n          <strong style=\"color: #667eea;\">⏱️ Duración:</strong> \n          <span style=\"color: #555; font-size: 16px;\">${ejercicio.duracion_aprox}</span>\n        </div>\n        ${ejercicio.notas ? `\n        <div style=\"background: #fff3cd; padding: 12px; border-radius: 6px; border-left: 3px solid #ffc107; margin-top: 10px;\">\n          <strong style=\"color: #856404;\">💡 Consejo:</strong> \n          <span style=\"color: #856404;\">${ejercicio.notas}</span>\n        </div>\n        ` : ''}\n      </div>\n    </div>\n  `;\n}\n\n// Generar HTML de calentamiento\nconst htmlCalentamiento = calentamiento.map((ej, idx) => \n  generarEjercicioHTML(ej, idx, true)\n).join('');\n\n// Generar HTML de trabajo principal\nconst htmlTrabajoPrincipal = trabajoPrincipal.map((ej, idx) => \n  generarEjercicioHTML(ej, idx, false)\n).join('');\n\n// Mapa de iconos por enfoque\nconst iconosEnfoque = {\n  'movilidad': '🧘',\n  'fuerza': '💪',\n  'cardio': '❤️',\n  'equilibrio': '⚖️',\n  'mixto': '🎯'\n};\n\nconst iconoEnfoque = iconosEnfoque[sesion.enfoque] || '🎯';\n\n// HTML completo de la página\nconst paginaHTML = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${sesion.titulo} - Camino Vital</title>\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: #333;\n      padding: 20px;\n      min-height: 100vh;\n    }\n    \n    .container {\n      max-width: 900px;\n      margin: 0 auto;\n      background: white;\n      border-radius: 16px;\n      overflow: hidden;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n    }\n    \n    .header {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 40px 30px;\n      text-align: center;\n    }\n    \n    .header h1 {\n      font-size: 32px;\n      margin-bottom: 10px;\n      text-shadow: 0 2px 4px rgba(0,0,0,0.2);\n    }\n    \n    .header-meta {\n      display: flex;\n      justify-content: center;\n      gap: 25px;\n      margin-top: 20px;\n      flex-wrap: wrap;\n    }\n    \n    .meta-item {\n      background: rgba(255,255,255,0.2);\n      padding: 10px 20px;\n      border-radius: 20px;\n      font-size: 14px;\n      backdrop-filter: blur(10px);\n    }\n    \n    .content {\n      padding: 40px 30px;\n    }\n    \n    .introduccion {\n      background: linear-gradient(135deg, #f0f7ff 0%, #e8f4f8 100%);\n      border-left: 5px solid #667eea;\n      padding: 25px;\n      border-radius: 8px;\n      margin-bottom: 40px;\n      line-height: 1.8;\n      font-size: 16px;\n      color: #333;\n    }\n    \n    .seccion-titulo {\n      font-size: 28px;\n      color: #333;\n      margin: 40px 0 25px;\n      display: flex;\n      align-items: center;\n      gap: 12px;\n    }\n    \n    .seccion-titulo::before {\n      content: '';\n      width: 6px;\n      height: 35px;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      border-radius: 3px;\n    }\n    \n    .completar-btn {\n      position: sticky;\n      bottom: 20px;\n      width: calc(100% - 60px);\n      max-width: 840px;\n      margin: 40px auto 0;\n      background: linear-gradient(135deg, #4CAF50 0%, #45a049 100%);\n      color: white;\n      border: none;\n      padding: 20px;\n      font-size: 20px;\n      font-weight: bold;\n      border-radius: 12px;\n      cursor: pointer;\n      box-shadow: 0 6px 20px rgba(76, 175, 80, 0.4);\n      transition: all 0.3s ease;\n      display: block;\n      text-align: center;\n      text-decoration: none;\n    }\n    \n    .completar-btn:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 8px 25px rgba(76, 175, 80, 0.5);\n      background: linear-gradient(135deg, #45a049 0%, #3d8b40 100%);\n    }\n    \n    .footer {\n      text-align: center;\n      padding: 30px;\n      color: #999;\n      font-size: 14px;\n      border-top: 1px solid #eee;\n      background: #f9f9f9;\n    }\n    \n    @media (max-width: 768px) {\n      body {\n        padding: 10px;\n      }\n      \n      .header {\n        padding: 30px 20px;\n      }\n      \n      .header h1 {\n        font-size: 24px;\n      }\n      \n      .content {\n        padding: 20px 15px;\n      }\n      \n      .completar-btn {\n        width: calc(100% - 30px);\n        font-size: 18px;\n        padding: 18px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <!-- Header -->\n    <div class=\"header\">\n      <div style=\"font-size: 48px; margin-bottom: 10px;\">${iconoEnfoque}</div>\n      <h1>${sesion.titulo}</h1>\n      <p style=\"opacity: 0.9; margin-top: 10px; font-size: 18px;\">Hola ${sesion.user_nombre}, ¡es hora de moverte!</p>\n      \n      <div class=\"header-meta\">\n        <div class=\"meta-item\">⏱️ ${sesion.duracion_estimada}</div>\n        <div class=\"meta-item\">📊 Nivel ${sesion.nivel_actual}</div>\n        <div class=\"meta-item\">🎯 ${sesion.enfoque}</div>\n        <div class=\"meta-item\">📅 Sesión ${sesion.numero_sesion} de ${sesion.sesiones_objetivo_semana}</div>\n      </div>\n    </div>\n    \n    <!-- Contenido -->\n    <div class=\"content\">\n      <!-- Introducción -->\n      <div class=\"introduccion\">\n        <strong style=\"font-size: 18px; color: #667eea; display: block; margin-bottom: 12px;\">✨ Tu sesión personalizada</strong>\n        ${sesion.introduccion_personalizada}\n      </div>\n      \n      <!-- Calentamiento -->\n      <h2 class=\"seccion-titulo\">🔥 Calentamiento</h2>\n      <p style=\"color: #666; margin-bottom: 25px; font-size: 16px;\">\n        Prepara tu cuerpo con estos ejercicios suaves. Ve a tu ritmo y respira profundamente.\n      </p>\n      ${htmlCalentamiento}\n      \n      <!-- Trabajo Principal -->\n      <h2 class=\"seccion-titulo\">💪 Trabajo Principal</h2>\n      <p style=\"color: #666; margin-bottom: 25px; font-size: 16px;\">\n        Estos son los ejercicios principales de tu sesión. Recuerda: calidad sobre cantidad.\n      </p>\n      ${htmlTrabajoPrincipal}\n      \n      <!-- Botón Completar -->\n      <a href=\"#\" class=\"completar-btn\" onclick=\"alert('¡Próximamente! Esta funcionalidad se implementará en el siguiente paso.'); return false;\">\n        ✅ He completado esta sesión\n      </a>\n    </div>\n    \n    <!-- Footer -->\n    <div class=\"footer\">\n      <p><strong>Camino Vital</strong> | Hábitos Vitales</p>\n      <p style=\"margin-top: 10px;\">Programa personalizado de ejercicio</p>\n    </div>\n  </div>\n  \n  <script>\n    // Auto-play del primer video cuando se scrollea a él\n    const videos = document.querySelectorAll('video');\n    \n    const observerOptions = {\n      threshold: 0.5\n    };\n    \n    const observer = new IntersectionObserver((entries) => {\n      entries.forEach(entry => {\n        const video = entry.target;\n        if (entry.isIntersecting) {\n          // Opcional: auto-play cuando el video es visible\n          // video.play();\n        } else {\n          video.pause();\n        }\n      });\n    }, observerOptions);\n    \n    videos.forEach(video => observer.observe(video));\n    \n    // Log para debugging\n    console.log('Sesión cargada:', {\n      titulo: '${sesion.titulo}',\n      enfoque: '${sesion.enfoque}',\n      calentamiento: ${calentamiento.length},\n      trabajoPrincipal: ${trabajoPrincipal.length}\n    });\n  </script>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    sesion_id: sesion.id,\n    html: paginaHTML\n  }\n};"
      },
      "id": "878540c2-939b-4b75-8d0f-2c28c2e98403",
      "name": "Generar HTML Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "3b9a857e-429f-4ab9-91bf-549aaf3347e3",
      "name": "Responder HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Acceso denegado</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      max-width: 600px;\n      margin: 50px auto;\n      padding: 20px;\n      text-align: center;\n      background: linear-gradient(135deg, #ff6b6b 0%, #ee5a6f 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .card {\n      background: white;\n      border-radius: 12px;\n      padding: 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n    }\n    h1 {\n      color: #ee5a6f;\n      margin: 0 0 20px 0;\n      font-size: 32px;\n    }\n    p {\n      font-size: 18px;\n      line-height: 1.6;\n      color: #555;\n    }\n    .icon {\n      font-size: 64px;\n      margin-bottom: 20px;\n    }\n    a {\n      color: #4CAF50;\n      text-decoration: none;\n      font-weight: bold;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">🔒</div>\n    <h1>Acceso denegado</h1>\n    <p>El enlace que estás usando no es válido o ha expirado.</p>\n    <p style=\"margin-top: 30px; font-size: 16px; color: #666;\">\n      Por favor, usa el enlace que recibiste en tu email.<br><br>\n      Si crees que esto es un error, contacta con nosotros:<br>\n      <a href=\"mailto:hola@habitos-vitales.com\">hola@habitos-vitales.com</a>\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "0c6c5bfb-4ce9-4def-996c-ec63711e3a14",
      "name": "Responder Error Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        832,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Mostrar Sesión": {
      "main": [
        [
          {
            "node": "Validar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Token": {
      "main": [
        [
          {
            "node": "Verificar Token Válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Token Válido": {
      "main": [
        [
          {
            "node": "Obtener Sesión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión": {
      "main": [
        [
          {
            "node": "Generar HTML Sesión",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder Error Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Sesión": {
      "main": [
        [
          {
            "node": "Responder HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "358c13bd-97c0-438b-8001-cc7f2a2d8f20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84e52699fab62b1fb2c5be95d249c5bcabdd7574acb0d2876e03aca6f6c8a022"
  },
  "id": "kKbBsBRr48hFi1aS",
  "tags": []
}