programa-camino-vital/workflows/01-bis-seleccionar-sesiones.json
{
  "name": "Camino Vital - 01-bis Seleccionar Sesiones y Enviar Primera",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "seleccionar-sesiones",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ba0c3e79-9019-43da-badd-98b1cf36062f",
      "name": "Webhook Seleccionar Sesiones",
      "type": "n8n-nodes-base.webhook",
      "position": [
        976,
        16
      ],
      "webhookId": "seleccionar-sesiones",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Configurar sesiones (IDEMPOTENTE)\nWITH usuario_actual AS (\n  SELECT *, (sesiones_objetivo_semana > 0) AS ya_configurado\n  FROM programa_users\n  WHERE id = {{ $json.query.user_id }}\n)\nUPDATE programa_users u\nSET \n  sesiones_objetivo_semana = CASE WHEN ua.ya_configurado THEN u.sesiones_objetivo_semana ELSE {{ $json.query.sesiones }} END,\n  sesiones_completadas_semana = CASE WHEN ua.ya_configurado THEN u.sesiones_completadas_semana ELSE 0 END,\n  sesion_actual_dentro_semana = CASE WHEN ua.ya_configurado THEN u.sesion_actual_dentro_semana ELSE 1 END,\n  updated_at = CASE WHEN ua.ya_configurado THEN u.updated_at ELSE NOW() END\nFROM usuario_actual ua\nWHERE u.id = {{ $json.query.user_id }}\nRETURNING u.*, ua.ya_configurado;",
        "options": {}
      },
      "id": "04ce61d2-1894-4711-afbe-1da0dbbeb4d7",
      "name": "Guardar Sesiones Objetivo",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1136,
        16
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  id as sesion_id,\n  titulo,\n  introduccion_personalizada,\n  enfoque,\n  duracion_estimada,\n  calentamiento,\n  trabajo_principal,\n  tipo_actividad,\n  calentamiento_texto,\n  actividad_principal\nFROM programa_sesiones\nWHERE id = {{ $json.sesion_id }};",
        "options": {}
      },
      "id": "e3c660d2-0199-4f97-a185-2fb1a56fc0ea",
      "name": "Obtener Sesión Completa",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1936,
        16
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Obtener template de email desde DB\nSELECT * FROM get_email_template('sesion_ejercicios');",
        "options": {}
      },
      "id": "bfc07d5c-8deb-4508-9c47-1701dab8e682",
      "name": "Obtener Template Email",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2272,
        16
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email con link a página de sesión personalizada\n\nconst usuario = $node[\"Guardar Sesiones Objetivo\"].json;\nconst sesion = $node[\"Obtener Sesión Completa\"].json;\n\nconsole.log('📧 Preparando email con sesión personalizada');\nconsole.log('🎯 Sesión ID:', sesion.sesion_id);\nconsole.log('🎯 Enfoque:', sesion.enfoque);\n\n// Variables para el template\nconst webhookUrl = process.env.WEBHOOK_URL || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.sesion_id}?token=${usuario.auth_token}`;\n\n// Calcular total de ejercicios según tipo\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = sesion.enfoque || 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// HTML del email (versión resumida con botón CTA)\nconst emailHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; color: #333; background: #f5f5f5;\">\n\n  <!-- Header -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"margin: 0; font-size: 28px;\">🎯 Semana ${usuario.semana_actual} · Sesión 1 de ${usuario.sesiones_objetivo_semana}</h1>\n    <p style=\"margin: 10px 0 0 0; opacity: 0.9; font-size: 16px;\">Diseñada específicamente para ti</p>\n  </div>\n\n  <!-- Contenido -->\n  <div style=\"background: white; padding: 40px 30px; border-radius: 0 0 12px 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n\n    <p style=\"font-size: 18px; line-height: 1.6; margin: 0 0 20px 0;\">\n      Hola <strong>${usuario.nombre}</strong>,\n    </p>\n\n    <p style=\"font-size: 16px; line-height: 1.6; margin: 0 0 25px 0;\">\n      He preparado una sesión personalizada para ti basándome en tu nivel, objetivos y limitaciones.\n    </p>\n\n    <!-- Introducción personalizada -->\n    <div style=\"background: #f0f7ff; border-left: 4px solid #667eea; padding: 20px; margin: 0 0 30px 0; border-radius: 4px;\">\n      <p style=\"margin: 0; font-size: 15px; line-height: 1.6; color: #333;\">\n        ${sesion.introduccion_personalizada || 'Sesión diseñada para tu nivel y objetivos.'}\n      </p>\n    </div>\n\n    <!-- Resumen de la sesión -->\n    <div style=\"background: #f9f9f9; padding: 25px; border-radius: 8px; margin: 0 0 30px 0;\">\n      <h3 style=\"margin: 0 0 15px 0; color: #333; font-size: 18px;\">📋 Resumen de tu sesión:</h3>\n      <ul style=\"margin: 0; padding-left: 20px; line-height: 2; color: #666;\">\n        <li><strong>Duración:</strong> ${sesion.duracion_estimada || '25-30 minutos'}</li>\n        <li><strong>Enfoque:</strong> ${enfoqueTexto}</li>\n        <li><strong>Contenido:</strong> ${totalEjercicios}</li>\n        <li><strong>Nivel:</strong> ${usuario.nivel_actual}</li>\n      </ul>\n    </div>\n\n    <!-- CTA Button -->\n    <div style=\"text-align: center; margin: 40px 0;\">\n      <a href=\"${sesionUrl}\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 18px 40px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 18px; box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\">\n        🎬 VER MI SESIÓN COMPLETA\n      </a>\n      <p style=\"margin: 15px 0 0 0; font-size: 14px; color: #999;\">\n        Click para ver tu sesión completa\n      </p>\n    </div>\n\n    <!-- Instrucciones -->\n    <div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; margin: 30px 0; border-radius: 4px;\">\n      <p style=\"margin: 0; font-weight: 600; color: #856404;\">💡 <strong>Recuerda:</strong></p>\n      <ul style=\"margin: 10px 0 0; padding-left: 20px; color: #856404; line-height: 1.8;\">\n        <li>Ve a tu ritmo, no hay prisa</li>\n        <li>Si algo duele, para y descansa</li>\n        <li>Puedes pausar cuando necesites</li>\n      </ul>\n    </div>\n\n    <!-- Cierre -->\n    <p style=\"font-size: 16px; line-height: 1.6; margin: 30px 0 10px;\">\n      Cuando termines la sesión, haz click en \"Completar Sesión\" y recibirás la siguiente inmediatamente.\n    </p>\n\n    <p style=\"font-size: 16px; line-height: 1.6; margin: 10px 0;\">\n      ¡A por ello! 💪<br>\n      <strong>El equipo de Camino Vital</strong>\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"text-align: center; margin-top: 30px; padding: 20px; color: #999; font-size: 12px;\">\n    <p style=\"margin: 0;\">Camino Vital | Hábitos Vitales</p>\n    <p style=\"margin: 5px 0 0;\">Este email es parte de tu programa de ejercicio personalizado</p>\n  </div>\n\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_nombre: usuario.nombre,\n    sesion_id: sesion.sesion_id,\n    sesiones_objetivo: usuario.sesiones_objetivo_semana,\n    semana: usuario.semana_actual,\n    sesion_numero: 1,\n    email_html: emailHTML,\n    asunto: `🎯 Semana ${usuario.semana_actual} · Sesión 1 de ${usuario.sesiones_objetivo_semana}: ${sesion.titulo}`\n  }\n};"
      },
      "id": "752bb13b-18f5-43f5-bc31-4b30910735b4",
      "name": "Preparar Email Sesión",
      "type": "n8n-nodes-base.code",
      "position": [
        2464,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>¡Perfecto!</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      max-width: 600px;\n      margin: 50px auto;\n      padding: 20px;\n      text-align: center;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .card {\n      background: white;\n      border-radius: 12px;\n      padding: 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n    }\n    h1 {\n      color: #4CAF50;\n      margin: 0 0 20px 0;\n      font-size: 32px;\n    }\n    p {\n      font-size: 18px;\n      line-height: 1.6;\n      color: #555;\n    }\n    .icon {\n      font-size: 64px;\n      margin-bottom: 20px;\n    }\n    .highlight {\n      background: #e8f5e9;\n      padding: 15px;\n      border-radius: 8px;\n      margin: 20px 0;\n      color: #2e7d32;\n      font-weight: bold;\n    }\n    .loader {\n      display: inline-block;\n      width: 20px;\n      height: 20px;\n      border: 3px solid #4CAF50;\n      border-radius: 50%;\n      border-top-color: transparent;\n      animation: spin 1s linear infinite;\n      margin-right: 10px;\n      vertical-align: middle;\n    }\n    @keyframes spin {\n      to { transform: rotate(360deg); }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">🎉</div>\n    <h1>¡Perfecto!</h1>\n    <p>Has elegido hacer <strong>{{ $json.sesiones_objetivo_semana }} sesiones esta semana</strong></p>\n    <div class=\"highlight\">\n      <span class=\"loader\"></span>\n      Estamos preparando tu primera sesión personalizada...<br><br>\n      📧 <strong>Recibirás un email en 1-2 minutos</strong>\n    </div>\n    <p style=\"margin-top: 30px; font-size: 16px; color: #666;\">\n      Puedes cerrar esta ventana.<br>\n      Tu sesión llegará a tu correo muy pronto.\n    </p>\n    <p style=\"margin-top: 30px; color: #888; font-size: 14px;\">\n      ¡Bienvenido a Camino Vital! 💪\n    </p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-procesando",
      "name": "Responder Procesando",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1536,
        16
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/generar-sesion-ia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"user_id\": $json.id } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "04db5472-b6b1-49cc-b02f-74ade2035091",
      "name": "Generar Sesión con IA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1728,
        16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "verificacion_configuracion",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.ya_configurado }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "4882f9ad-86ca-4a55-ac77-719b0d658524",
      "name": "IF: ¿Sesiones ya configuradas?",
      "type": "n8n-nodes-base.if",
      "position": [
        1344,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Pass-through - the response is handled by the next node\nreturn { json: $input.first().json };"
      },
      "id": "7facebef-b0fd-46f0-91a9-224fb5b7af94",
      "name": "Obtener Template Ya Configurado",
      "type": "n8n-nodes-base.code",
      "position": [
        2800,
        640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Sesiones Ya Configuradas</title>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 600px; margin: 50px auto; padding: 20px; text-align: center; }\n    .card { background: #e8f5e9; border-radius: 12px; padding: 40px; }\n    h1 { color: #2e7d32; }\n    p { color: #666; font-size: 18px; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <h1>✅ ¡Ya tienes tus sesiones configuradas!</h1>\n    <p>Tu programa ya está en marcha. Revisa tu email para ver tu próxima sesión de ejercicios.</p>\n    <p style=\"margin-top: 30px; font-size: 14px; color: #999;\">Puedes cerrar esta ventana.</p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "c0fbdea0-cf0b-4bbb-b309-81a9858426a2",
      "name": "Responder Ya Configurado",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2992,
        640
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-util",
      "name": "Enviar vía UTIL Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Seleccionar Sesiones": {
      "main": [
        [
          {
            "node": "Guardar Sesiones Objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesiones Objetivo": {
      "main": [
        [
          {
            "node": "IF: ¿Sesiones ya configuradas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Sesiones ya configuradas?": {
      "main": [
        [
          {
            "node": "Obtener Template Ya Configurado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Ya Configurado": {
      "main": [
        [
          {
            "node": "Responder Ya Configurado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Procesando": {
      "main": [
        [
          {
            "node": "Generar Sesión con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Sesión con IA": {
      "main": [
        [
          {
            "node": "Obtener Sesión Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión Completa": {
      "main": [
        [
          {
            "node": "Obtener Template Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Email": {
      "main": [
        [
          {
            "node": "Preparar Email Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Sesión": {
      "main": [
        [
          {
            "node": "Enviar vía UTIL Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "versionId": "v2",
  "versionCounter": 164,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-12-23T21:05:34.287Z",
      "createdAt": "2025-12-23T21:05:34.287Z",
      "id": "2Np5mmwYXiyeMPtJ",
      "name": "Camino Vital"
    },
    {
      "updatedAt": "2025-12-23T21:22:27.713Z",
      "createdAt": "2025-12-23T21:22:27.713Z",
      "id": "YriIAJNwCVbGfQiT",
      "name": "TEST"
    }
  ]
}
