programa-camino-vital/workflows/01-bis-seleccionar-sesiones.json
{
  "name": "Camino Vital - 01-bis Seleccionar Sesiones y Enviar Primera",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "seleccionar-sesiones",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "UaKkf2gLw5ESGvQ5",
      "name": "Webhook Seleccionar Sesiones",
      "type": "n8n-nodes-base.webhook",
      "position": [976, 16],
      "webhookId": "seleccionar-sesiones",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT jsonb_object_agg(key, value) as config FROM config WHERE key IN ('WEBHOOK_URL', 'BREVO_API_KEY', 'SENDER_EMAIL', 'SENDER_NAME');",
        "options": {}
      },
      "id": "obtener-config",
      "name": "Obtener Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1056, 16],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combinar query params con config\nconst webhookData = $('Webhook Seleccionar Sesiones').first().json;\nconst config = $('Obtener Config').first().json.config;\n\nreturn {\n  json: {\n    query: webhookData.query,\n    config: config\n  }\n};"
      },
      "id": "combinar-config",
      "name": "Combinar Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, 16]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Configurar sesiones (IDEMPOTENTE)\nWITH usuario_actual AS (\n  SELECT *, (sesiones_objetivo_semana > 0) AS ya_configurado\n  FROM programa_users\n  WHERE id = {{ $json.query.user_id }}\n)\nUPDATE programa_users u\nSET \n  sesiones_objetivo_semana = CASE WHEN ua.ya_configurado THEN u.sesiones_objetivo_semana ELSE {{ $json.query.sesiones }} END,\n  sesiones_completadas_semana = CASE WHEN ua.ya_configurado THEN u.sesiones_completadas_semana ELSE 0 END,\n  sesion_actual_dentro_semana = CASE WHEN ua.ya_configurado THEN u.sesion_actual_dentro_semana ELSE 1 END,\n  updated_at = CASE WHEN ua.ya_configurado THEN u.updated_at ELSE NOW() END\nFROM usuario_actual ua\nWHERE u.id = {{ $json.query.user_id }}\nRETURNING u.*, ua.ya_configurado;",
        "options": {}
      },
      "id": "04ce61d2-1894-4711-afbe-1da0dbbeb4d7",
      "name": "Guardar Sesiones Objetivo",
      "type": "n8n-nodes-base.postgres",
      "position": [1296, 16],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Añadir config al resultado del usuario\nconst userData = $json;\nconst configData = $('Combinar Config').first().json.config;\n\nreturn {\n  json: {\n    ...userData,\n    config: configData\n  }\n};"
      },
      "id": "add-config-to-user",
      "name": "Añadir Config a Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1416, 16]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "verificacion_configuracion",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.ya_configurado }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "4882f9ad-86ca-4a55-ac77-719b0d658524",
      "name": "IF: ¿Sesiones ya configuradas?",
      "type": "n8n-nodes-base.if",
      "position": [1536, 16],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Pass-through - the response is handled by the next node\nreturn { json: $input.first().json };"
      },
      "id": "7facebef-b0fd-46f0-91a9-224fb5b7af94",
      "name": "Obtener Template Ya Configurado",
      "type": "n8n-nodes-base.code",
      "position": [2800, 640],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Sesiones Ya Configuradas</title>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 600px; margin: 50px auto; padding: 20px; text-align: center; }\n    .card { background: #e8f5e9; border-radius: 12px; padding: 40px; }\n    h1 { color: #2e7d32; }\n    p { color: #666; font-size: 18px; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <h1>✅ ¡Ya tienes tus sesiones configuradas!</h1>\n    <p>Tu programa ya está en marcha. Revisa tu email para ver tu próxima sesión de ejercicios.</p>\n    <p style=\"margin-top: 30px; font-size: 14px; color: #999;\">Puedes cerrar esta ventana.</p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "c0fbdea0-cf0b-4bbb-b309-81a9858426a2",
      "name": "Responder Ya Configurado",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [2992, 640],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>¡Perfecto!</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      max-width: 600px;\n      margin: 50px auto;\n      padding: 20px;\n      text-align: center;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .card {\n      background: white;\n      border-radius: 12px;\n      padding: 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n    }\n    h1 {\n      color: #4CAF50;\n      margin: 0 0 20px 0;\n      font-size: 32px;\n    }\n    p {\n      font-size: 18px;\n      line-height: 1.6;\n      color: #555;\n    }\n    .icon {\n      font-size: 64px;\n      margin-bottom: 20px;\n    }\n    .highlight {\n      background: #e8f5e9;\n      padding: 15px;\n      border-radius: 8px;\n      margin: 20px 0;\n      color: #2e7d32;\n      font-weight: bold;\n    }\n    .loader {\n      display: inline-block;\n      width: 20px;\n      height: 20px;\n      border: 3px solid #4CAF50;\n      border-radius: 50%;\n      border-top-color: transparent;\n      animation: spin 1s linear infinite;\n      margin-right: 10px;\n      vertical-align: middle;\n    }\n    @keyframes spin {\n      to { transform: rotate(360deg); }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">🎉</div>\n    <h1>¡Perfecto!</h1>\n    <p>Has elegido hacer <strong>{{ $json.sesiones_objetivo_semana }} sesiones esta semana</strong></p>\n    <div class=\"highlight\">\n      <span class=\"loader\"></span>\n      Estamos preparando tu primera sesión personalizada...<br><br>\n      📧 <strong>Recibirás un email en 1-2 minutos</strong>\n    </div>\n    <p style=\"margin-top: 30px; font-size: 16px; color: #666;\">\n      Puedes cerrar esta ventana.<br>\n      Tu sesión llegará a tu correo muy pronto.\n    </p>\n    <p style=\"margin-top: 30px; color: #888; font-size: 14px;\">\n      ¡Bienvenido a Camino Vital! 💪\n    </p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-procesando",
      "name": "Responder Procesando",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1728, 16],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Añadir Config a Usuario'].json.config.WEBHOOK_URL || 'http://localhost:5678' }}/webhook/generar-sesion-ia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"user_id\": $node['Añadir Config a Usuario'].json.id } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "04db5472-b6b1-49cc-b02f-74ade2035091",
      "name": "Generar Sesión con IA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1920, 16],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  id as sesion_id,\n  titulo,\n  introduccion_personalizada,\n  enfoque,\n  duracion_estimada,\n  calentamiento,\n  trabajo_principal,\n  tipo_actividad,\n  calentamiento_texto,\n  actividad_principal\nFROM programa_sesiones\nWHERE id = {{ $json.sesion_id }};",
        "options": {}
      },
      "id": "e3c660d2-0199-4f97-a185-2fb1a56fc0ea",
      "name": "Obtener Sesión Completa",
      "type": "n8n-nodes-base.postgres",
      "position": [2128, 16],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'email_primera_sesion' AND activo = true;",
        "options": {}
      },
      "id": "bfc07d5c-8deb-4508-9c47-1701dab8e682",
      "name": "Obtener Template Email",
      "type": "n8n-nodes-base.postgres",
      "position": [2336, 16],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email usando template de BD (dark mode unificado)\n\nconst usuario = $node[\"Añadir Config a Usuario\"].json;\nconst sesion = $node[\"Obtener Sesión Completa\"].json;\nconst template = $node[\"Obtener Template Email\"].json.html_template;\nconst config = usuario.config;\n\nconsole.log('📧 Preparando email con template de BD');\nconsole.log('🎯 Sesión ID:', sesion.sesion_id);\n\nconst webhookUrl = config.WEBHOOK_URL || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.sesion_id}?token=${usuario.auth_token}`;\n\n// Calcular contenido según tipo de sesión\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = sesion.enfoque || 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// Reemplazar variables en template de BD\nconst emailHTML = template\n  .replace(/\\{\\{nombre\\}\\}/g, usuario.nombre || '')\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, usuario.sesiones_objetivo_semana || '')\n  .replace(/\\{\\{introduccion\\}\\}/g, sesion.introduccion_personalizada || 'Sesión diseñada para tu nivel y objetivos.')\n  .replace(/\\{\\{duracion\\}\\}/g, sesion.duracion_estimada || '25-30 minutos')\n  .replace(/\\{\\{enfoque\\}\\}/g, enfoqueTexto)\n  .replace(/\\{\\{contenido\\}\\}/g, totalEjercicios)\n  .replace(/\\{\\{nivel\\}\\}/g, usuario.nivel_actual || '')\n  .replace(/\\{\\{sesion_url\\}\\}/g, sesionUrl);\n\nreturn {\n  json: {\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_nombre: usuario.nombre,\n    sesion_id: sesion.sesion_id,\n    sesiones_objetivo: usuario.sesiones_objetivo_semana,\n    semana: usuario.semana_actual,\n    sesion_numero: 1,\n    email_html: emailHTML,\n    asunto: `🎯 Tu Sesión 1 de ${usuario.sesiones_objetivo_semana}: ${sesion.titulo}`,\n    webhook_url: webhookUrl\n  }\n};"
      },
      "id": "752bb13b-18f5-43f5-bc31-4b30910735b4",
      "name": "Preparar Email Sesión",
      "type": "n8n-nodes-base.code",
      "position": [2544, 16],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-util",
      "name": "Enviar vía UTIL Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2752, 16]
    }
  ],
  "connections": {
    "Webhook Seleccionar Sesiones": {
      "main": [
        [
          {
            "node": "Obtener Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Config": {
      "main": [
        [
          {
            "node": "Combinar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Config": {
      "main": [
        [
          {
            "node": "Guardar Sesiones Objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesiones Objetivo": {
      "main": [
        [
          {
            "node": "Añadir Config a Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir Config a Usuario": {
      "main": [
        [
          {
            "node": "IF: ¿Sesiones ya configuradas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Sesiones ya configuradas?": {
      "main": [
        [
          {
            "node": "Obtener Template Ya Configurado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Ya Configurado": {
      "main": [
        [
          {
            "node": "Responder Ya Configurado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Procesando": {
      "main": [
        [
          {
            "node": "Generar Sesión con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Sesión con IA": {
      "main": [
        [
          {
            "node": "Obtener Sesión Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión Completa": {
      "main": [
        [
          {
            "node": "Obtener Template Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Email": {
      "main": [
        [
          {
            "node": "Preparar Email Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Sesión": {
      "main": [
        [
          {
            "node": "Enviar vía UTIL Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "versionId": "v3",
  "versionCounter": 165,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-12-23T21:05:34.287Z",
      "createdAt": "2025-12-23T21:05:34.287Z",
      "id": "2Np5mmwYXiyeMPtJ",
      "name": "Camino Vital"
    },
    {
      "updatedAt": "2025-12-23T21:22:27.713Z",
      "createdAt": "2025-12-23T21:22:27.713Z",
      "id": "YriIAJNwCVbGfQiT",
      "name": "TEST"
    }
  ]
}
