programa-camino-vital/workflows/01-bis-onboarding-preventa.json
{
  "name": "Camino Vital - 01-bis Onboarding Preventa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "camino-vital-pago-preventa",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-pago-preventa",
      "name": "Webhook Pago Preventa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "camino-vital-pago-preventa"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del pago (Stripe webhook)\nconst body = $input.first().json.body;\n\nconsole.log('📦 [PREVENTA] Event type:', body.type);\n\n// FILTRO: Solo procesar checkout.session.completed (pago completado)\nif (body.type !== 'checkout.session.completed') {\n  console.log('⏭️ Evento ignorado:', body.type);\n  return [];\n}\n\n// Extraer datos del checkout completado\nconst session = body.data?.object;\nconst customerDetails = session?.customer_details;\n\nlet customerEmail = customerDetails?.email;\nlet customerName = customerDetails?.name || '';\nlet amountPaid = (session?.amount_total || 0) / 100;\nlet stripeCustomerId = session?.customer;\n\nconsole.log('📧 Email:', customerEmail);\nconsole.log('💰 Monto:', amountPaid);\n\nif (!customerEmail) {\n  console.log('⚠️ No se pudo extraer email, ignorando evento');\n  return [];\n}\n\n// Fecha inicio programa: 1 de marzo 2026\nconst fechaInicio = '2026-03-01 09:00:00';\n\nreturn {\n  json: {\n    email: customerEmail,\n    nombre: customerName,\n    monto_pagado: amountPaid,\n    stripe_customer_id: stripeCustomerId,\n    fecha_pago: new Date().toISOString(),\n    fecha_inicio_programa: fechaInicio\n  }\n};"
      },
      "id": "extraer-datos-pago",
      "name": "Extraer Datos del Pago",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Actualizar usuario a estado 'pagado_esperando_inicio'\n-- Solo actualizar si NO está ya en ese estado (idempotencia)\nUPDATE programa_users\nSET \n  estado = 'pagado_esperando_inicio',\n  fecha_pago = '{{ $json.fecha_pago }}',\n  monto_pagado = {{ $json.monto_pagado }},\n  stripe_customer_id = '{{ $json.stripe_customer_id }}',\n  fecha_inicio_programa = '{{ $json.fecha_inicio_programa }}',\n  updated_at = CURRENT_TIMESTAMP\nWHERE email = '{{ $json.email }}'\n  AND estado NOT IN ('pagado_esperando_inicio', 'activo')\nRETURNING *, TRUE as recien_pagado;",
        "options": {}
      },
      "id": "actualizar-usuario-preventa",
      "name": "Actualizar Usuario (Preventa)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "PostgreSQL local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "idempotencia-check",
              "leftValue": "={{ $json.recien_pagado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-recien-pagado",
      "name": "IF ¿Recién pagado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatear datos para enviar email\nconst input = $input.first().json;\n\nconsole.log('🔄 Formateando datos de usuario para email plaza reservada...');\n\nreturn {\n  json: {\n    id: input.id,\n    email: input.email,\n    nombre: input.nombre,\n    nivel_actual: input.nivel_actual,\n    estado: input.estado,\n    fecha_inicio_programa: input.fecha_inicio_programa,\n    monto_pagado: input.monto_pagado\n  }\n};"
      },
      "id": "formatear-datos-usuario",
      "name": "Formatear Datos Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"received\": true,\n  \"message\": \"Usuario ya estaba pagado - ignorando evento duplicado\"\n}",
        "options": {}
      },
      "id": "responder-ya-pagado",
      "name": "Responder Ya Pagado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$env.BREVO_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"NOMBRE\": \"{{ $json.nombre }}\",\n    \"NIVEL\": \"{{ $json.nivel_actual }}\",\n    \"ETAPA\": \"base_vital\",\n    \"ESTADO\": \"pagado_esperando_inicio\",\n    \"FECHA_INICIO_PROGRAMA\": \"2026-03-01\"\n  },\n  \"listIds\": [3],\n  \"unlinkListIds\": [2],\n  \"updateEnabled\": true\n}",
        "options": {}
      },
      "id": "actualizar-brevo",
      "name": "Actualizar Brevo (Pagados Preventa)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "notes": "Lista 3 = Pagados esperando inicio, Lista 2 = Leads"
    },
    {
      "parameters": {
        "jsCode": "// Recuperar datos del usuario para enviar email\nconst datosUsuario = $node[\"Formatear Datos Usuario\"].json;\n\nconsole.log('🔄 Recuperando datos para email plaza reservada...');\n\nreturn {\n  json: datosUsuario\n};"
      },
      "id": "recuperar-datos-usuario",
      "name": "Recuperar Datos Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$env.BREVO_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"Camino Vital - Hábitos Vitales\",\n    \"email\": \"hola@habitos-vitales.com\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.email }}\",\n      \"name\": \"{{ $json.nombre }}\"\n    }\n  ],\n  \"subject\": \"🎉 ¡Tu plaza está reservada! - Camino Vital\",\n  \"htmlContent\": \"<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background: #232323; color: #E8E8E8;'><div style='background: #1C1C1C; border-radius: 18px; overflow: hidden; box-shadow: 0 10px 40px rgba(0,0,0,0.4); border: 1px solid rgba(255,255,255,0.08);'><div style='text-align: center; padding: 30px 20px 20px;'><img src='https://habitos-vitales.com/img/logo-habitos-vitales.png' alt='Hábitos Vitales' style='max-width: 150px; height: auto;'></div><div style='background: linear-gradient(180deg, #2A2A2A 0%, #1C1C1C 100%); padding: 40px; text-align: center;'><div style='font-size: 60px; margin-bottom: 20px;'>🎉</div><h1 style='margin: 0; font-size: 28px; color: #DFCA61;'>¡Tu plaza está reservada!</h1><p style='margin: 10px 0 0; color: #B5B5B5;'>Gracias por confiar en Camino Vital</p></div><div style='padding: 40px;'><p style='font-size: 18px; line-height: 1.6; color: #E8E8E8;'>Hola <strong style=\\\"color: #DFCA61;\\\">{{ $json.nombre }}</strong>,</p><p style='font-size: 16px; line-height: 1.6; color: #B5B5B5;'>Tu plaza para el programa <strong style=\\\"color: #62B882;\\\">Camino Vital</strong> está confirmada.</p><div style='background: rgba(98, 184, 130, 0.1); border: 2px solid rgba(98, 184, 130, 0.3); padding: 25px; margin: 30px 0; border-radius: 12px; text-align: center;'><p style='color: #B5B5B5; margin: 0 0 10px 0; font-size: 14px;'>INICIO DEL PROGRAMA</p><p style='color: #62B882; margin: 0; font-size: 28px; font-weight: bold;'>📅 1 de marzo de 2026</p></div><div style='background: rgba(223, 202, 97, 0.1); border-left: 4px solid #DFCA61; padding: 20px; margin: 30px 0; border-radius: 4px;'><h3 style='color: #DFCA61; margin: 0 0 15px 0;'>Tu reserva incluye:</h3><ul style='margin: 0; padding-left: 20px; line-height: 1.8; color: #B5B5B5;'><li>Acceso completo al programa Camino Vital</li><li>Ciclo guiado de 12 semanas</li><li>Adaptación a tu estado y objetivo</li><li>Entrega por email</li><li>Acompañamiento cercano</li><li>Garantía de devolución</li></ul></div><div style='background: rgba(223, 202, 97, 0.08); border: 1px solid rgba(223, 202, 97, 0.2); padding: 20px; border-radius: 12px; text-align: center; margin: 30px 0;'><p style='color: #DFCA61; margin: 0; font-size: 15px;'>💰 <strong>Precio pagado:</strong> 35€ (precio de reserva)</p></div><p style='font-size: 16px; line-height: 1.6; color: #B5B5B5;'>El día <strong style=\\\"color: #E8E8E8;\\\">1 de marzo</strong> recibirás un email para configurar tu programa y elegir cuántas sesiones quieres hacer por semana.</p><p style='font-size: 16px; line-height: 1.6; color: #B5B5B5;'>Mientras tanto, si tienes cualquier duda puedes escribirnos a <a href='mailto:hola@habitos-vitales.com' style='color: #DFCA61; text-decoration: none;'>hola@habitos-vitales.com</a></p><div style='text-align: center; margin: 40px 0;'><p style='font-size: 18px; color: #62B882; font-weight: bold;'>¡Nos vemos pronto!</p></div><p style='font-size: 16px; line-height: 1.6; color: #B5B5B5;'>Un saludo,<br><strong style=\\\"color: #E8E8E8;\\\">El equipo de Camino Vital</strong></p></div></div><div style='text-align: center; margin-top: 30px; padding: 20px; color: #666; font-size: 12px;'><strong style=\\\"color: #DFCA61;\\\">Camino Vital</strong> | Hábitos Vitales<br>Este email confirma tu reserva en el programa</div></body></html>\"\n}",
        "options": {}
      },
      "id": "enviar-email-plaza-reservada",
      "name": "Enviar Email Plaza Reservada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"received\": true,\n  \"message\": \"Pago preventa procesado correctamente\"\n}",
        "options": {}
      },
      "id": "responder-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 200]
    }
  ],
  "connections": {
    "Webhook Pago Preventa": {
      "main": [
        [
          {
            "node": "Extraer Datos del Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Pago": {
      "main": [
        [
          {
            "node": "Actualizar Usuario (Preventa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Usuario (Preventa)": {
      "main": [
        [
          {
            "node": "IF ¿Recién pagado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ¿Recién pagado?": {
      "main": [
        [
          {
            "node": "Formatear Datos Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Ya Pagado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Datos Usuario": {
      "main": [
        [
          {
            "node": "Actualizar Brevo (Pagados Preventa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Brevo (Pagados Preventa)": {
      "main": [
        [
          {
            "node": "Recuperar Datos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Datos Usuario": {
      "main": [
        [
          {
            "node": "Enviar Email Plaza Reservada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Plaza Reservada": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Camino Vital",
      "id": "cv-1"
    },
    {
      "name": "Preventa",
      "id": "cv-preventa"
    }
  ],
  "meta": {
    "instanceId": "local"
  },
  "pinData": {},
  "versionId": "1"
}
