programa-camino-vital/workflows/01a-onboarding-programa.json
{
  "name": "Camino Vital - 01a Onboarding Programa (89€)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-ejecutar",
      "name": "Ejecutar desde Router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-448, -416]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM config WHERE key IN ('WEBHOOK_URL', 'BREVO_API_KEY', 'BREVO_LIST_LEADS', 'BREVO_LIST_ACTIVO', 'SENDER_EMAIL', 'SENDER_NAME');",
        "options": {}
      },
      "id": "obtener-config",
      "name": "Obtener Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-224, -416],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del pago desde el Router\nconst input = $('Ejecutar desde Router').first().json;\nconst body = input.body;\n\n// Obtener config desde BD\nconst configItems = $('Obtener Config').all();\nconst config = {};\nconfigItems.forEach(item => {\n  config[item.json.key] = item.json.value;\n});\n\nconsole.log('🎯 [ONBOARDING 89€] Procesando pago...');\n\nconst session = body.data?.object;\nconst customerDetails = session?.customer_details;\n\nlet customerEmail = customerDetails?.email;\nlet customerName = customerDetails?.name || '';\nlet amountPaid = (session?.amount_total || 0) / 100;\nlet stripeCustomerId = session?.customer;\n\nconsole.log('📧 Email:', customerEmail);\nconsole.log('💰 Monto:', amountPaid);\n\nif (!customerEmail) {\n  console.log('⚠️ No se pudo extraer email, ignorando evento');\n  return [];\n}\n\nreturn {\n  json: {\n    email: customerEmail,\n    nombre: customerName,\n    monto_pagado: amountPaid,\n    stripe_customer_id: stripeCustomerId,\n    fecha_pago: new Date().toISOString(),\n    config: config\n  }\n};"
      },
      "id": "extraer-datos-pago",
      "name": "Extraer Datos del Pago",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -416]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Solo actualizar si NO está ya activo (idempotencia)\nUPDATE programa_users\nSET \n  estado = 'activo',\n  fecha_pago = '{{ $json.fecha_pago }}',\n  monto_pagado = {{ $json.monto_pagado }},\n  stripe_customer_id = '{{ $json.stripe_customer_id }}',\n  fecha_inicio = CURRENT_TIMESTAMP\nWHERE email = '{{ $json.email }}'\n  AND estado != 'activo'\nRETURNING *, TRUE as recien_activado;",
        "options": {}
      },
      "id": "activar-usuario",
      "name": "Activar Usuario (lead → activo)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [224, -416],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Manejar caso donde UPDATE no devuelve filas (usuario ya activo)\nconst items = $input.all();\nconst config = $('Extraer Datos del Pago').first().json.config;\n\nif (items.length === 0) {\n  console.log('⏭️ UPDATE no devolvió filas - usuario ya estaba activo');\n  return [{ json: { recien_activado: false, status: 'already_active', config: config } }];\n}\n\n// Si hay filas, pasar los datos con config\nreturn items.map(item => ({\n  json: { ...item.json, config: config }\n}));"
      },
      "id": "manejar-resultado-vacio",
      "name": "Manejar Resultado Vacío",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, -416]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "idempotencia-check",
              "leftValue": "={{ $json.recien_activado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-recien-activado",
      "name": "IF ¿Recién activado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [672, -416]
    },
    {
      "parameters": {
        "jsCode": "// Formatear datos para asegurar propagación correcta\nconst input = $input.first().json;\nconst config = input.config;\n\nconsole.log('🔄 Formateando datos de usuario para propagación...');\n\nreturn {\n  json: {\n    id: input.id,\n    email: input.email,\n    nombre: input.nombre,\n    nivel_actual: input.nivel_actual,\n    etapa: input.etapa,\n    semana_actual: input.semana_actual,\n    fecha_inicio: input.fecha_inicio,\n    estado: input.estado,\n    config: config\n  }\n};"
      },
      "id": "formatear-datos",
      "name": "Formatear Datos Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -516]
    },
    {
      "parameters": {
        "jsCode": "// Usuario ya estaba activo - ignorar\nconsole.log('⏭️ Usuario ya estaba activo, ignorando evento duplicado');\nreturn { json: { status: 'already_active' } };"
      },
      "id": "log-ya-activo",
      "name": "Log Ya Activo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -316]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $json.config.BREVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"NOMBRE\": \"{{ $json.nombre }}\",\n    \"NIVEL\": \"{{ $json.nivel_actual }}\",\n    \"ETAPA\": \"base_vital\",\n    \"ESTADO\": \"activo\",\n    \"FECHA_INICIO\": \"{{ $json.fecha_inicio }}\"\n  },\n  \"listIds\": [{{ $json.config.BREVO_LIST_ACTIVO }}],\n  \"unlinkListIds\": [{{ $json.config.BREVO_LIST_LEADS }}],\n  \"updateEnabled\": true\n}",
        "options": {}
      },
      "id": "actualizar-brevo",
      "name": "Actualizar Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -516]
    },
    {
      "parameters": {
        "jsCode": "// Recuperar datos del usuario después de actualizar Brevo\nconst datosUsuario = $node[\"Formatear Datos Usuario\"].json;\n\nconsole.log('🔄 Recuperando datos de usuario para enviar email...');\n\nreturn {\n  json: datosUsuario\n};"
      },
      "id": "recuperar-datos",
      "name": "Recuperar Datos Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, -516]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'email_bienvenida' AND activo = true;",
        "options": {}
      },
      "id": "obtener-template-bienvenida",
      "name": "Obtener Template Bienvenida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1568, -516],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Renderizar template con variables del usuario\nconst template = $json.html_template;\nconst usuario = $('Recuperar Datos Usuario').first().json;\nconst config = usuario.config;\n\nconsole.log('🔄 Renderizando template bienvenida para:', usuario.email);\n\nconst baseUrl = config.WEBHOOK_URL || 'http://localhost:5678';\nconst nivelDisplay = usuario.nivel_actual === 'iniciacion' ? 'Iniciación' : 'Intermedio';\n\nconst html = template\n  .replace(/\\{\\{nombre\\}\\}/g, usuario.nombre || '')\n  .replace(/\\{\\{user_id\\}\\}/g, usuario.id || '')\n  .replace(/\\{\\{nivel\\}\\}/g, nivelDisplay)\n  .replace(/\\{\\{base_url\\}\\}/g, baseUrl);\n\nreturn {\n  json: {\n    html_renderizado: html,\n    email: usuario.email,\n    nombre: usuario.nombre,\n    config: config\n  }\n};"
      },
      "id": "renderizar-template",
      "name": "Renderizar Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, -516]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $json.config.BREVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"{{ $json.config.SENDER_NAME }}\",\n    \"email\": \"{{ $json.config.SENDER_EMAIL }}\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.email }}\",\n      \"name\": \"{{ $json.nombre }}\"\n    }\n  ],\n  \"subject\": \"✨ ¡Bienvenido a Camino Vital! Tu recorrido empieza aquí\",\n  \"htmlContent\": {{ JSON.stringify($json.html_renderizado) }}\n}",
        "options": {}
      },
      "id": "enviar-email-bienvenida",
      "name": "Enviar Email Bienvenida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2016, -516]
    }
  ],
  "connections": {
    "Ejecutar desde Router": {
      "main": [
        [
          {
            "node": "Obtener Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Config": {
      "main": [
        [
          {
            "node": "Extraer Datos del Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Pago": {
      "main": [
        [
          {
            "node": "Activar Usuario (lead → activo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Usuario (lead → activo)": {
      "main": [
        [
          {
            "node": "Manejar Resultado Vacío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar Resultado Vacío": {
      "main": [
        [
          {
            "node": "IF ¿Recién activado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ¿Recién activado?": {
      "main": [
        [
          {
            "node": "Formatear Datos Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Ya Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Datos Usuario": {
      "main": [
        [
          {
            "node": "Actualizar Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Brevo": {
      "main": [
        [
          {
            "node": "Recuperar Datos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Datos Usuario": {
      "main": [
        [
          {
            "node": "Obtener Template Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Bienvenida": {
      "main": [
        [
          {
            "node": "Renderizar Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Template": {
      "main": [
        [
          {
            "node": "Enviar Email Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Camino Vital"
    }
  ],
  "pinData": {},
  "versionId": "3"
}
