programa-camino-vital/workflows/03-bis-feedback-siguiente-sesion.json
{
  "id": "uQ0KqwaII78YdFSa",
  "name": "Camino Vital - 03-bis Feedback y Siguiente Sesi贸n",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "sesion-completada",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a17e48bc-c544-42f6-8a5c-b06adbbaac39",
      "name": "Webhook Sesi贸n Completada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        -16
      ],
      "webhookId": "sesion-completada"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Obtener datos del usuario\nSELECT \n  id,\n  email,\n  nombre,\n  etapa,\n  nivel_actual,\n  semana_actual,\n  sesiones_objetivo_semana,\n  sesiones_completadas_semana,\n  sesion_actual_dentro_semana,\n  auth_token\nFROM programa_users\nWHERE id = {{ $json.query.user_id }};",
        "options": {}
      },
      "id": "8f2006d7-cdb8-463a-aa8c-53be434aaa05",
      "name": "Obtener Datos Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        16,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sesion-ya-procesada",
              "leftValue": "={{ Number($node[\"Webhook Sesi贸n Completada\"].json.query.sesion) }}",
              "rightValue": "={{ $json.sesion_actual_dentro_semana }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-sesion-ya-procesada",
      "name": "IF: 驴Sesi贸n ya procesada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        230,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'pagina_sesion_ya_procesada' AND version = 1;",
        "options": {}
      },
      "id": "obtener-template-ya-procesada",
      "name": "Obtener Template Ya Procesada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        450,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_template }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-ya-procesada",
      "name": "Responder: Sesi贸n Ya Procesada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        670,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Registrar feedback de sesi贸n completada (con upsert para evitar duplicados)\nWITH feedback_parsed AS (\n  SELECT \n    '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' as feedback_raw,\n    CASE \n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' IN ('completa_facil', 'completa_bien', 'completa_dificil') THEN 'completa'\n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' IN ('incompleta_tiempo', 'incompleta_dificil', 'dolor') THEN 'incompleta'\n      ELSE 'completa'\n    END as completitud,\n    CASE \n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' = 'completa_facil' THEN 'facil'\n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' = 'completa_bien' THEN 'apropiado'\n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' = 'completa_dificil' THEN 'dificil'\n      ELSE NULL\n    END as respuesta,\n    CASE \n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' = 'incompleta_tiempo' THEN 'tiempo'\n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' = 'incompleta_dificil' THEN 'muy_dificil'\n      WHEN '{{ $node[\"Webhook Sesi贸n Completada\"].json.query.feedback }}' = 'dolor' THEN 'dolor'\n      ELSE NULL\n    END as razon_no_completar\n)\nINSERT INTO programa_feedback (\n  user_id,\n  semana,\n  etapa,\n  nivel,\n  sesion_numero,\n  tipo_feedback,\n  respuesta,\n  completitud,\n  razon_no_completar,\n  accion_tomada\n)\nSELECT \n  {{ $node[\"Obtener Datos Usuario\"].json.id }},\n  {{ $node[\"Obtener Datos Usuario\"].json.semana_actual }},\n  '{{ $node[\"Obtener Datos Usuario\"].json.etapa }}',\n  '{{ $node[\"Obtener Datos Usuario\"].json.nivel_actual }}',\n  {{ $node[\"Webhook Sesi贸n Completada\"].json.query.sesion }},\n  'sesion_completada',\n  fp.respuesta,\n  fp.completitud,\n  fp.razon_no_completar,\n  'procesando'\nFROM feedback_parsed fp\nON CONFLICT (user_id, sesion_numero, semana, tipo_feedback) \nDO UPDATE SET \n  respuesta = EXCLUDED.respuesta,\n  completitud = EXCLUDED.completitud,\n  razon_no_completar = EXCLUDED.razon_no_completar,\n  accion_tomada = 'procesando',\n  created_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "id": "976495bf-7a0a-46d8-b6db-e06665071fa4",
      "name": "Registrar Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        450,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Actualizar progreso del usuario\nUPDATE programa_users\nSET \n  sesiones_completadas_semana = sesiones_completadas_semana + 1,\n  sesion_actual_dentro_semana = sesion_actual_dentro_semana + 1,\n  fecha_ultimo_envio = NOW()\nWHERE id = {{ $node[\"Obtener Datos Usuario\"].json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "e033b305-f979-4606-bb52-e78e8cc41d97",
      "name": "Actualizar Progreso Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        670,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quedan-mas-sesiones",
              "leftValue": "={{ $json.sesion_actual_dentro_semana }}",
              "rightValue": "={{ $json.sesiones_objetivo_semana }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfe1c4e6-ba15-45bf-99c7-49267e16612f",
      "name": "IF: 驴Quedan m谩s sesiones?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        890,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'pagina_procesando_siguiente' AND version = 1;",
        "options": {}
      },
      "id": "obtener-template-procesando",
      "name": "Obtener Template Procesando",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1110,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Renderizar template con variables\nconst template = $json.html_template;\nconst usuario = $node['Actualizar Progreso Usuario'].json;\n\nconst html = template\n  .replace(/\\{\\{sesion_completada\\}\\}/g, (usuario.sesion_actual_dentro_semana - 1) || '1');\n\nreturn { json: { html, usuario_id: usuario.id } };"
      },
      "id": "renderizar-procesando",
      "name": "Renderizar Procesando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1330,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-procesando-siguiente",
      "name": "Responder Procesando Siguiente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1550,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/generar-sesion-ia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"user_id\": $node[\"Actualizar Progreso Usuario\"].json.id } }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d6c5d6d1-426a-4c43-9449-e8e0d8cf420d",
      "name": "Generar Sesi贸n con IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1770,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  id as sesion_id,\n  titulo,\n  introduccion_personalizada,\n  enfoque,\n  duracion_estimada,\n  calentamiento,\n  trabajo_principal,\n  tipo_actividad,\n  calentamiento_texto,\n  actividad_principal\nFROM programa_sesiones\nWHERE id = {{ $json.sesion_id }};",
        "options": {}
      },
      "id": "ad485636-e4e6-490c-bb88-6d0fb3057a3c",
      "name": "Obtener Sesi贸n Completa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1990,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'email_sesion_siguiente' AND version = 1;",
        "options": {}
      },
      "id": "obtener-template-email-sesion",
      "name": "Obtener Template Email Sesi贸n",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2210,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email usando template de BD\nconst template = $json.html_template;\nconst usuario = $node['Actualizar Progreso Usuario'].json;\nconst sesion = $node['Obtener Sesi贸n Completa'].json;\n\nconsole.log(' Preparando email con sesi贸n usando template BD');\n\nconst webhookUrl = process.env.WEBHOOK_URL || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.sesion_id}?token=${usuario.auth_token}`;\n\n// Calcular total de ejercicios seg煤n tipo\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = sesion.enfoque || 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// Reemplazar variables en el template\nconst emailHTML = template\n  .replace(/\\{\\{sesion_numero\\}\\}/g, usuario.sesion_actual_dentro_semana || '')\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, usuario.sesiones_objetivo_semana || '')\n  .replace(/\\{\\{nombre\\}\\}/g, usuario.nombre || '')\n  .replace(/\\{\\{introduccion\\}\\}/g, sesion.introduccion_personalizada || 'Sesi贸n dise帽ada para tu nivel y objetivos.')\n  .replace(/\\{\\{duracion\\}\\}/g, sesion.duracion_estimada || '25-30 minutos')\n  .replace(/\\{\\{enfoque\\}\\}/g, enfoqueTexto)\n  .replace(/\\{\\{contenido\\}\\}/g, totalEjercicios)\n  .replace(/\\{\\{nivel\\}\\}/g, usuario.nivel_actual || '')\n  .replace(/\\{\\{sesion_url\\}\\}/g, sesionUrl);\n\nreturn {\n  json: {\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_nombre: usuario.nombre,\n    sesion_id: sesion.sesion_id,\n    sesiones_objetivo: usuario.sesiones_objetivo_semana,\n    semana: usuario.semana_actual,\n    sesion_numero: usuario.sesion_actual_dentro_semana,\n    email_html: emailHTML,\n    asunto: ` Tu Sesi贸n ${usuario.sesion_actual_dentro_semana} de ${usuario.sesiones_objetivo_semana}: ${sesion.titulo}`\n  }\n};"
      },
      "id": "19af2f83-045a-46ee-b2af-ebcf2f85eb72",
      "name": "Preparar Email Sesi贸n",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2430,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar body JSON para Brevo\nconst input = $input.first().json;\n\nconst brevoBody = {\n  sender: {\n    name: \"Camino Vital\",\n    email: \"hola@habitos-vitales.com\"\n  },\n  to: [\n    {\n      email: input.user_email,\n      name: input.user_nombre\n    }\n  ],\n  subject: input.asunto,\n  htmlContent: input.email_html\n};\n\nreturn {\n  json: {\n    ...input,\n    brevo_body: brevoBody\n  }\n};"
      },
      "id": "dde2bd64-0d76-4a65-84e0-54d592aa8d54",
      "name": "Preparar Body Brevo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.brevo_body }}",
        "options": {}
      },
      "id": "453bccb5-b7f5-4ffc-86ef-d14b69fcad56",
      "name": "Enviar Email v铆a Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2870,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Registrar env铆o de sesi贸n personalizada\nWITH envio_insertado AS (\n  INSERT INTO programa_envios (user_id, sesion_id, estado, fecha_envio)\n  VALUES (\n    {{ $node[\"Preparar Body Brevo\"].json.user_id }},\n    {{ $node[\"Preparar Body Brevo\"].json.sesion_id }},\n    'enviado',\n    NOW()\n  )\n  RETURNING id, user_id, sesion_id\n),\nusuario_actualizado AS (\n  UPDATE programa_users\n  SET \n    fecha_ultimo_envio = NOW(),\n    envios_totales = envios_totales + 1\n  WHERE id = {{ $node[\"Preparar Body Brevo\"].json.user_id }}\n  RETURNING id, envios_totales\n)\nSELECT \n  e.id as envio_id,\n  e.user_id,\n  e.sesion_id,\n  u.envios_totales,\n  {{ $node[\"Preparar Body Brevo\"].json.sesiones_objetivo }} as sesiones_objetivo\nFROM envio_insertado e, usuario_actualizado u;",
        "options": {}
      },
      "id": "78a5c921-8696-45b6-8baa-1b921e926619",
      "name": "Registrar Env铆o",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3090,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Actualizar feedback con acci贸n tomada\nUPDATE programa_feedback\nSET accion_tomada = 'envio_siguiente_sesion'\nWHERE id = {{ $node[\"Registrar Feedback\"].json.id }};",
        "options": {}
      },
      "id": "1aa2a7c9-e11f-4e5a-ac7d-6a314bcc2010",
      "name": "Actualizar Feedback (Enviado)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3310,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Actualizar feedback: todas las sesiones completadas\nUPDATE programa_feedback\nSET accion_tomada = 'semana_completada'\nWHERE id = {{ $node[\"Registrar Feedback\"].json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "012a13df-cefd-451c-a4bb-cf992cf14912",
      "name": "Actualizar Feedback (Completado)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1110,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'pagina_semana_completada' AND version = 1;",
        "options": {}
      },
      "id": "obtener-template-semana-completada",
      "name": "Obtener Template Semana Completada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1330,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Renderizar template semana completada\nconst template = $json.html_template;\nconst usuario = $node['Actualizar Progreso Usuario'].json;\n\nconst html = template\n  .replace(/\\{\\{semana_actual\\}\\}/g, usuario.semana_actual || '')\n  .replace(/\\{\\{sesiones_objetivo_semana\\}\\}/g, usuario.sesiones_objetivo_semana || '');\n\nreturn { json: { html } };"
      },
      "id": "renderizar-semana-completada",
      "name": "Renderizar Semana Completada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "b00ecfc7-59d4-449d-bb79-f924466630f6",
      "name": "Responder: Semana Completada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1770,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Sesi贸n Completada": {
      "main": [
        [
          {
            "node": "Obtener Datos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos Usuario": {
      "main": [
        [
          {
            "node": "IF: 驴Sesi贸n ya procesada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 驴Sesi贸n ya procesada?": {
      "main": [
        [
          {
            "node": "Obtener Template Ya Procesada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Ya Procesada": {
      "main": [
        [
          {
            "node": "Responder: Sesi贸n Ya Procesada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Feedback": {
      "main": [
        [
          {
            "node": "Actualizar Progreso Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Progreso Usuario": {
      "main": [
        [
          {
            "node": "IF: 驴Quedan m谩s sesiones?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 驴Quedan m谩s sesiones?": {
      "main": [
        [
          {
            "node": "Obtener Template Procesando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar Feedback (Completado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Procesando": {
      "main": [
        [
          {
            "node": "Renderizar Procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Procesando": {
      "main": [
        [
          {
            "node": "Responder Procesando Siguiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Procesando Siguiente": {
      "main": [
        [
          {
            "node": "Generar Sesi贸n con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Sesi贸n con IA": {
      "main": [
        [
          {
            "node": "Obtener Sesi贸n Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesi贸n Completa": {
      "main": [
        [
          {
            "node": "Obtener Template Email Sesi贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Email Sesi贸n": {
      "main": [
        [
          {
            "node": "Preparar Email Sesi贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Sesi贸n": {
      "main": [
        [
          {
            "node": "Preparar Body Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Body Brevo": {
      "main": [
        [
          {
            "node": "Enviar Email v铆a Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email v铆a Brevo": {
      "main": [
        [
          {
            "node": "Registrar Env铆o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Env铆o": {
      "main": [
        [
          {
            "node": "Actualizar Feedback (Enviado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Feedback (Completado)": {
      "main": [
        [
          {
            "node": "Obtener Template Semana Completada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Semana Completada": {
      "main": [
        [
          {
            "node": "Renderizar Semana Completada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Semana Completada": {
      "main": [
        [
          {
            "node": "Responder: Semana Completada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v3-protection"
}
