programa-camino-vital/workflows/03-bis-feedback-siguiente-sesion.json
{
  "name": "Camino Vital - 03-bis Feedback y Siguiente Sesión",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "sesion-completada",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a17e48bc-c544-42f6-8a5c-b06adbbaac39",
      "name": "Webhook Sesión Completada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        -16
      ],
      "webhookId": "sesion-completada"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Obtener datos del usuario\nSELECT \n  id,\n  email,\n  nombre,\n  etapa,\n  nivel_actual,\n  semana_actual,\n  sesiones_objetivo_semana,\n  sesiones_completadas_semana,\n  sesion_actual_dentro_semana\nFROM programa_users\nWHERE id = {{ $json.query.user_id }};",
        "options": {}
      },
      "id": "8f2006d7-cdb8-463a-aa8c-53be434aaa05",
      "name": "Obtener Datos Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        16,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Registrar feedback de sesión completada (con upsert para evitar duplicados)\nWITH feedback_parsed AS (\n  SELECT \n    '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' as feedback_raw,\n    CASE \n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' IN ('completa_facil', 'completa_bien', 'completa_dificil') THEN 'completa'\n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' IN ('incompleta_tiempo', 'incompleta_dificil', 'dolor') THEN 'incompleta'\n      ELSE 'completa'\n    END as completitud,\n    CASE \n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' = 'completa_facil' THEN 'facil'\n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' = 'completa_bien' THEN 'apropiado'\n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' = 'completa_dificil' THEN 'dificil'\n      ELSE NULL\n    END as respuesta,\n    CASE \n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' = 'incompleta_tiempo' THEN 'tiempo'\n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' = 'incompleta_dificil' THEN 'muy_dificil'\n      WHEN '{{ $node[\"Webhook Sesión Completada\"].json.query.feedback }}' = 'dolor' THEN 'dolor'\n      ELSE NULL\n    END as razon_no_completar\n)\nINSERT INTO programa_feedback (\n  user_id,\n  semana,\n  etapa,\n  nivel,\n  sesion_numero,\n  tipo_feedback,\n  respuesta,\n  completitud,\n  razon_no_completar,\n  accion_tomada\n)\nSELECT \n  {{ $json.id }},\n  {{ $json.semana_actual }},\n  '{{ $json.etapa }}',\n  '{{ $json.nivel_actual }}',\n  {{ $node[\"Webhook Sesión Completada\"].json.query.sesion }},\n  'sesion_completada',\n  fp.respuesta,\n  fp.completitud,\n  fp.razon_no_completar,\n  'procesando'\nFROM feedback_parsed fp\nON CONFLICT (user_id, sesion_numero, semana, tipo_feedback) \nDO UPDATE SET \n  respuesta = EXCLUDED.respuesta,\n  completitud = EXCLUDED.completitud,\n  razon_no_completar = EXCLUDED.razon_no_completar,\n  accion_tomada = 'procesando',\n  created_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "id": "976495bf-7a0a-46d8-b6db-e06665071fa4",
      "name": "Registrar Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Marcar la sesión como completada y actualizar progreso del usuario\nWITH sesion_actualizada AS (\n  UPDATE programa_sesiones\n  SET completada = true\n  WHERE user_id = {{ $node[\"Obtener Datos Usuario\"].json.id }}\n    AND numero_sesion = {{ $node[\"Webhook Sesión Completada\"].json.query.sesion }}\n    AND semana = {{ $node[\"Obtener Datos Usuario\"].json.semana_actual }}\n  RETURNING id\n)\nUPDATE programa_users\nSET \n  sesiones_completadas_semana = sesiones_completadas_semana + 1,\n  sesion_actual_dentro_semana = sesion_actual_dentro_semana + 1,\n  ultima_sesion_completada = NOW(),\n  fecha_ultimo_envio = NOW()\nWHERE id = {{ $node[\"Obtener Datos Usuario\"].json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "e033b305-f979-4606-bb52-e78e8cc41d97",
      "name": "Actualizar Progreso Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        464,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quedan-mas-sesiones",
              "leftValue": "={{ $json.sesion_actual_dentro_semana }}",
              "rightValue": "={{ $json.sesiones_objetivo_semana }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfe1c4e6-ba15-45bf-99c7-49267e16612f",
      "name": "IF: ¿Quedan más sesiones?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>¡Genial!</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      max-width: 600px;\n      margin: 50px auto;\n      padding: 20px;\n      text-align: center;\n      background: linear-gradient(135deg, #4CAF50 0%, #45a049 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .card {\n      background: white;\n      border-radius: 12px;\n      padding: 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n    }\n    h1 {\n      color: #4CAF50;\n      margin: 0 0 20px 0;\n      font-size: 32px;\n    }\n    p {\n      font-size: 18px;\n      line-height: 1.6;\n      color: #555;\n    }\n    .icon {\n      font-size: 64px;\n      margin-bottom: 20px;\n    }\n    .highlight {\n      background: #e8f5e9;\n      padding: 15px;\n      border-radius: 8px;\n      margin: 20px 0;\n      color: #2e7d32;\n      font-weight: bold;\n    }\n    .loader {\n      display: inline-block;\n      width: 20px;\n      height: 20px;\n      border: 3px solid #4CAF50;\n      border-radius: 50%;\n      border-top-color: transparent;\n      animation: spin 1s linear infinite;\n      margin-right: 10px;\n      vertical-align: middle;\n    }\n    @keyframes spin {\n      to { transform: rotate(360deg); }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">✅</div>\n    <h1>¡Feedback recibido!</h1>\n    <p>Gracias por completar la sesión {{ $json.sesion_actual_dentro_semana - 1 }}</p>\n    <div class=\"highlight\">\n      <span class=\"loader\"></span>\n      Preparando tu siguiente sesión...<br><br>\n      📧 <strong>Recibirás un email en 1-2 minutos</strong>\n    </div>\n    <p style=\"margin-top: 30px; font-size: 16px; color: #666;\">\n      Puedes cerrar esta ventana.<br>\n      Tu próxima sesión llegará a tu correo.\n    </p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-procesando-siguiente",
      "name": "Responder Procesando Siguiente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/generar-sesion-ia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"user_id\": $node[\"Actualizar Progreso Usuario\"].json.id } }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d6c5d6d1-426a-4c43-9449-e8e0d8cf420d",
      "name": "Generar Sesión con IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  id as sesion_id,\n  titulo,\n  introduccion_personalizada,\n  enfoque,\n  duracion_estimada,\n  calentamiento,\n  trabajo_principal,\n  tipo_actividad,\n  calentamiento_texto,\n  actividad_principal\nFROM programa_sesiones\nWHERE id = {{ $json.sesion_id }};",
        "options": {}
      },
      "id": "ad485636-e4e6-490c-bb88-6d0fb3057a3c",
      "name": "Obtener Sesión Completa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email con link a página de sesión personalizada (igual que 01-bis)\n\nconst usuario = $node[\"Actualizar Progreso Usuario\"].json;\nconst sesion = $node[\"Obtener Sesión Completa\"].json;\n\nconsole.log('📧 Preparando email con sesión personalizada');\nconsole.log('🎯 Sesión ID:', sesion.sesion_id);\nconsole.log('🎯 Enfoque:', sesion.enfoque);\n\n// Variables para el template\nconst webhookUrl = process.env.WEBHOOK_URL || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.sesion_id}?token=${usuario.auth_token}`;\n\n// Calcular total de ejercicios según tipo\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = sesion.enfoque || 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// HTML del email\nconst emailHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; color: #333; background: #f5f5f5;\">\n\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center; border-radius: 12px 12px 0 0;\">\n    <h1 style=\"margin: 0; font-size: 28px;\">🎯 Tu Sesión ${usuario.sesion_actual_dentro_semana} de ${usuario.sesiones_objetivo_semana}</h1>\n    <p style=\"margin: 10px 0 0 0; opacity: 0.9; font-size: 16px;\">Diseñada específicamente para ti</p>\n  </div>\n\n  <div style=\"background: white; padding: 40px 30px; border-radius: 0 0 12px 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n\n    <p style=\"font-size: 18px; line-height: 1.6; margin: 0 0 20px 0;\">\n      Hola <strong>${usuario.nombre}</strong>,\n    </p>\n\n    <p style=\"font-size: 16px; line-height: 1.6; margin: 0 0 25px 0;\">\n      Tu siguiente sesión personalizada está lista.\n    </p>\n\n    <div style=\"background: #f0f7ff; border-left: 4px solid #667eea; padding: 20px; margin: 0 0 30px 0; border-radius: 4px;\">\n      <p style=\"margin: 0; font-size: 15px; line-height: 1.6; color: #333;\">\n        ${sesion.introduccion_personalizada || 'Sesión diseñada para tu nivel y objetivos.'}\n      </p>\n    </div>\n\n    <div style=\"background: #f9f9f9; padding: 25px; border-radius: 8px; margin: 0 0 30px 0;\">\n      <h3 style=\"margin: 0 0 15px 0; color: #333; font-size: 18px;\">📋 Resumen de tu sesión:</h3>\n      <ul style=\"margin: 0; padding-left: 20px; line-height: 2; color: #666;\">\n        <li><strong>Duración:</strong> ${sesion.duracion_estimada || '25-30 minutos'}</li>\n        <li><strong>Enfoque:</strong> ${enfoqueTexto}</li>\n        <li><strong>Contenido:</strong> ${totalEjercicios}</li>\n        <li><strong>Nivel:</strong> ${usuario.nivel_actual}</li>\n      </ul>\n    </div>\n\n    <div style=\"text-align: center; margin: 40px 0;\">\n      <a href=\"${sesionUrl}\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 18px 40px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 18px; box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\">\n        🎬 VER MI SESIÓN COMPLETA\n      </a>\n    </div>\n\n    <div style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; margin: 30px 0; border-radius: 4px;\">\n      <p style=\"margin: 0; font-weight: 600; color: #856404;\">💡 <strong>Recuerda:</strong></p>\n      <ul style=\"margin: 10px 0 0; padding-left: 20px; color: #856404; line-height: 1.8;\">\n        <li>Ve a tu ritmo, no hay prisa</li>\n        <li>Si algo duele, para y descansa</li>\n      </ul>\n    </div>\n\n    <p style=\"font-size: 16px; line-height: 1.6; margin: 30px 0 10px;\">\n      ¡A por ello! 💪<br>\n      <strong>El equipo de Camino Vital</strong>\n    </p>\n  </div>\n\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_nombre: usuario.nombre,\n    sesion_id: sesion.sesion_id,\n    sesiones_objetivo: usuario.sesiones_objetivo_semana,\n    semana: usuario.semana_actual,\n    sesion_numero: usuario.sesion_actual_dentro_semana,\n    email_html: emailHTML,\n    asunto: `🎯 Tu Sesión ${usuario.sesion_actual_dentro_semana} de ${usuario.sesiones_objetivo_semana}: ${sesion.titulo}`\n  }\n};"
      },
      "id": "19af2f83-045a-46ee-b2af-ebcf2f85eb72",
      "name": "Preparar Email Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Actualizar feedback con acción tomada\nUPDATE programa_feedback\nSET accion_tomada = 'envio_siguiente_sesion'\nWHERE id = {{ $node[\"Registrar Feedback\"].json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "1aa2a7c9-e11f-4e5a-ac7d-6a314bcc2010",
      "name": "Actualizar Feedback (Enviado)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2224,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Actualizar feedback: todas las sesiones completadas\nUPDATE programa_feedback\nSET accion_tomada = 'semana_completada'\nWHERE id = {{ $node[\"Registrar Feedback\"].json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "012a13df-cefd-451c-a4bb-cf992cf14912",
      "name": "Actualizar Feedback (Completado)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        912,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>¡Felicidades!</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      max-width: 600px;\n      margin: 50px auto;\n      padding: 20px;\n      text-align: center;\n      background: linear-gradient(135deg, #FFD700 0%, #FFA500 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .card {\n      background: white;\n      border-radius: 12px;\n      padding: 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n    }\n    h1 {\n      color: #FF8C00;\n      margin: 0 0 20px 0;\n      font-size: 32px;\n    }\n    p {\n      font-size: 18px;\n      line-height: 1.6;\n      color: #555;\n    }\n    .icon {\n      font-size: 64px;\n      margin-bottom: 20px;\n    }\n    .highlight {\n      background: #fff3cd;\n      padding: 15px;\n      border-radius: 8px;\n      margin: 20px 0;\n      color: #856404;\n      font-weight: bold;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">🎉</div>\n    <h1>¡Semana completada!</h1>\n    <p>Has completado las <strong>{{ $node[\"Actualizar Progreso Usuario\"].json.sesiones_objetivo_semana }} sesiones</strong> de esta semana</p>\n    <div class=\"highlight\">\n      💪 ¡Increíble constancia!<br>\n      El domingo recibirás tu checkpoint semanal\n    </div>\n    <p style=\"margin-top: 30px; color: #888; font-size: 14px;\">\n      Descansa y recarga energías 🌟\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "b00ecfc7-59d4-449d-bb79-f924466630f6",
      "name": "Responder: Semana Completada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-util",
      "name": "Enviar vía UTIL Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Sesión Completada": {
      "main": [
        [
          {
            "node": "Obtener Datos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos Usuario": {
      "main": [
        [
          {
            "node": "Registrar Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Feedback": {
      "main": [
        [
          {
            "node": "Actualizar Progreso Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Progreso Usuario": {
      "main": [
        [
          {
            "node": "IF: ¿Quedan más sesiones?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Quedan más sesiones?": {
      "main": [
        [
          {
            "node": "Responder Procesando Siguiente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar Feedback (Completado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Procesando Siguiente": {
      "main": [
        [
          {
            "node": "Generar Sesión con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Sesión con IA": {
      "main": [
        [
          {
            "node": "Obtener Sesión Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión Completa": {
      "main": [
        [
          {
            "node": "Preparar Email Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Sesión": {
      "main": [
        [
          {
            "node": "Enviar vía UTIL Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Feedback (Enviado)": {
      "main": [
        []
      ]
    },
    "Actualizar Feedback (Completado)": {
      "main": [
        [
          {
            "node": "Responder: Semana Completada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar vía UTIL Email": {
      "main": [
        [
          {
            "node": "Actualizar Feedback (Enviado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "v2",
  "versionCounter": 139,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-12-23T21:05:34.287Z",
      "createdAt": "2025-12-23T21:05:34.287Z",
      "id": "2Np5mmwYXiyeMPtJ",
      "name": "Camino Vital"
    },
    {
      "updatedAt": "2025-12-23T21:22:27.713Z",
      "createdAt": "2025-12-23T21:22:27.713Z",
      "id": "YriIAJNwCVbGfQiT",
      "name": "TEST"
    }
  ]
}
