programa-camino-vital/workflows/04-guardar-lead.json
{
  "id": "4ec1HJCYzwIeFWAr",
  "name": "Camino Vital - 04 Guardar Lead (Cuestionario)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guardar-lead",
        "options": {
          "rawBody": true
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-guardar-lead",
      "name": "Webhook Guardar Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "guardar-lead"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del body\nconst body = $input.first().json.body;\nconst data = typeof body === 'string' ? JSON.parse(body) : body;\n\nreturn {\n  json: {\n    turnstile_token: data.turnstile_token,\n    email: data.email,\n    nombre: data.nombre,\n    tiempo_sin_ejercicio: data.tiempo_sin_ejercicio,\n    nivel_movilidad: data.nivel_movilidad,\n    limitaciones: data.limitaciones,\n    limitaciones_detalle: data.limitaciones_detalle || '',\n    objetivo_principal: data.objetivo_principal,\n    nivel_asignado: data.nivel_asignado,\n    duracion_programa: data.duracion_programa,\n    timestamp: data.timestamp\n  }\n};"
      },
      "id": "extraer-datos-inicial",
      "name": "Extraer Datos Inicial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://challenges.cloudflare.com/turnstile/v0/siteverify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"secret\": \"0x4AAAAAACVE4wbVwEf9amRFouALPLdx9FI\",\n  \"response\": \"{{ $json.turnstile_token }}\"\n}",
        "options": {}
      },
      "id": "validar-turnstile",
      "name": "Validar Turnstile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Cloudflare Turnstile - Validacion de bot protection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-turnstile-valido",
      "name": "Turnstile V치lido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Recuperar datos del lead desde el nodo anterior\nconst prevData = $('Extraer Datos Inicial').first().json;\n\nreturn {\n  json: {\n    email: prevData.email,\n    nombre: prevData.nombre,\n    tiempo_sin_ejercicio: prevData.tiempo_sin_ejercicio,\n    nivel_movilidad: prevData.nivel_movilidad,\n    limitaciones: prevData.limitaciones,\n    limitaciones_detalle: prevData.limitaciones_detalle,\n    objetivo_principal: prevData.objetivo_principal,\n    nivel_asignado: prevData.nivel_asignado,\n    duracion_programa: prevData.duracion_programa,\n    timestamp: prevData.timestamp\n  }\n};"
      },
      "id": "preparar-datos-lead",
      "name": "Preparar Datos Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO programa_users (\n  email,\n  nombre,\n  etapa,\n  nivel_actual,\n  estado,\n  perfil_inicial\n)\nVALUES (\n  '{{ $json.email }}',\n  '{{ $json.nombre }}',\n  'base_vital',\n  '{{ $json.nivel_asignado === \"Intermedio\" ? \"intermedio\" : \"iniciacion\" }}',\n  'lead',\n  '{\n    \"tiempo_sin_ejercicio\": \"{{ $json.tiempo_sin_ejercicio }}\",\n    \"nivel_movilidad\": \"{{ $json.nivel_movilidad }}\",\n    \"limitaciones\": \"{{ $json.limitaciones }}\",\n    \"limitaciones_detalle\": \"{{ $json.limitaciones_detalle }}\",\n    \"objetivo_principal\": \"{{ $json.objetivo_principal }}\",\n    \"cuestionario_completado\": \"{{ $json.timestamp }}\"\n  }'::jsonb\n)\nON CONFLICT (email) \nDO UPDATE SET\n  nombre = EXCLUDED.nombre,\n  nivel_actual = EXCLUDED.nivel_actual,\n  perfil_inicial = EXCLUDED.perfil_inicial,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING id, email, nombre, nivel_actual;",
        "options": {}
      },
      "id": "guardar-lead-db",
      "name": "Guardar Lead en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 200],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL local"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$env.BREVO_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"NOMBRE\": \"{{ $json.nombre }}\",\n    \"NIVEL\": \"{{ $json.nivel_actual }}\",\n    \"ETAPA\": \"lead\",\n    \"ESTADO\": \"cuestionario_completado\"\n  },\n  \"listIds\": [{{ $env.BREVO_LIST_LEADS }}],\n  \"updateEnabled\": true\n}",
        "options": {}
      },
      "id": "agregar-brevo",
      "name": "Agregar a Brevo (Leads)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "notes": "Lista ID 2 = Leads sin pagar"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Lead guardado correctamente\",\n  \"user_id\": {{ $('Guardar Lead en DB').first().json.id || 'null' }}\n}",
        "options": {}
      },
      "id": "responder-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Verificaci칩n de seguridad fallida\",\n  \"error\": \"invalid_turnstile_token\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "responder-error-bot",
      "name": "Responder Error (Bot)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook Guardar Lead": {
      "main": [
        [
          {
            "node": "Extraer Datos Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Inicial": {
      "main": [
        [
          {
            "node": "Validar Turnstile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Turnstile": {
      "main": [
        [
          {
            "node": "Turnstile V치lido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turnstile V치lido?": {
      "main": [
        [
          {
            "node": "Preparar Datos Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error (Bot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Lead": {
      "main": [
        [
          {
            "node": "Guardar Lead en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Lead en DB": {
      "main": [
        [
          {
            "node": "Agregar a Brevo (Leads)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar a Brevo (Leads)": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Camino Vital",
      "id": "cv-1"
    }
  ],
  "meta": {
    "instanceId": "local"
  },
  "pinData": {},
  "versionId": "2"
}
