programa-camino-vital/workflows/07-procesar-checkpoint-semanal.json
{
  "updatedAt": "2026-01-22T19:51:39.921Z",
  "createdAt": "2026-01-19T20:03:07.656Z",
  "id": "v8HjVPF07oBYmLBX",
  "name": "Camino Vital - 07 Procesar Checkpoint Semanal",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "checkpoint-semanal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-checkpoint",
      "name": "Webhook Checkpoint Semanal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "checkpoint-semanal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Analizar la semana del usuario para obtener recomendaciones\nSELECT * FROM analizar_semana_para_checkpoint({{ $json.query.user_id }});",
        "options": {}
      },
      "id": "analizar-semana",
      "name": "Analizar Semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Procesar checkpoint con la elección del usuario\nSELECT * FROM procesar_checkpoint_interactivo(\n  {{ $node['Analizar Semana'].json.out_user_id }},\n  {{ $node['Webhook Checkpoint Semanal'].json.query.sesiones || 3 }},\n  '{{ $node['Analizar Semana'].json.accion_nivel }}',\n  {{ $node['Analizar Semana'].json.accion_intensidad }},\n  '{{ $node['Analizar Semana'].json.adherencia_nivel }}',\n  '{{ $node['Analizar Semana'].json.feedback_mayoritario }}',\n  '{{ $node['Analizar Semana'].json.explicacion_corta }}'\n);",
        "options": {}
      },
      "id": "procesar-checkpoint",
      "name": "Procesar Checkpoint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ya-procesado",
              "leftValue": "={{ $json.estado_checkpoint }}",
              "rightValue": "ya_procesado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ya-procesado",
      "name": "IF: ¿Checkpoint ya procesado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Ya procesado</title></head><body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #232323; color: #E8E8E8; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0;\"><div style=\"background: #1C1C1C; padding: 40px; border-radius: 18px; text-align: center; max-width: 400px;\"><div style=\"font-size: 48px; margin-bottom: 20px;\">✅</div><h1 style=\"color: #62B882; margin: 0 0 15px 0;\">¡Ya procesado!</h1><p style=\"color: #B5B5B5; margin: 0;\">Tu checkpoint de esta semana ya fue registrado. Revisa tu email para ver tu primera sesión de la nueva semana.</p></div></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-ya-procesado",
      "name": "Responder Ya Procesado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "programa-completado",
              "leftValue": "={{ $json.semana_actual }}",
              "rightValue": 13,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-programa-completado",
      "name": "IF: ¿Programa completado (>12 sem)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE programa_users\nSET estado = 'completado', updated_at = NOW()\nWHERE id = {{ $json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "marcar-programa-completado",
      "name": "Marcar Programa Completado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'programa_completado' AND version = 1;",
        "options": {}
      },
      "id": "obtener-template-fin",
      "name": "Obtener Template Fin Programa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email de programa completado\nconst template = $json.html_template;\nconst usuario = $node['Marcar Programa Completado'].json;\n\nconst emailHTML = template\n  .replace(/\\{\\{nombre\\}\\}/g, usuario.nombre || 'Usuario')\n  .replace(/\\{\\{nivel_actual\\}\\}/g, usuario.nivel_actual || '')\n  .replace(/\\{\\{intensidad\\}\\}/g, usuario.intensidad_nivel || '');\n\nreturn {\n  json: {\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_nombre: usuario.nombre,\n    email_html: emailHTML,\n    asunto: '🏆 ¡Felicidades! Has completado Camino Vital'\n  }\n};"
      },
      "id": "preparar-email-fin",
      "name": "Preparar Email Fin Programa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-fin-util",
      "name": "Enviar Email Fin (UTIL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>¡Programa Completado!</title></head><body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #232323; color: #E8E8E8; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0;\"><div style=\"background: #1C1C1C; padding: 40px; border-radius: 18px; text-align: center; max-width: 400px;\"><div style=\"font-size: 64px; margin-bottom: 20px;\">🏆</div><h1 style=\"color: #DFCA61; margin: 0 0 15px 0;\">¡Felicidades!</h1><p style=\"color: #B5B5B5; font-size: 18px; margin: 0 0 20px 0;\">Has completado el programa Camino Vital</p><p style=\"color: #62B882; margin: 0;\">Revisa tu email para más información.</p></div></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-programa-completado",
      "name": "Responder Programa Completado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}/webhook/generar-sesion-ia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.id }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "llamar-generador-ia",
      "name": "Llamar Generador Sesión IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  s.*,\n  u.email as user_email,\n  u.nombre as user_nombre,\n  u.nivel_actual,\n  u.intensidad_nivel,\n  u.volumen_extra,\n  u.auth_token\nFROM programa_sesiones s\nJOIN programa_users u ON s.user_id = u.id\nWHERE s.user_id = {{ $node['Procesar Checkpoint'].json.id }}\n  AND s.semana = {{ $node['Procesar Checkpoint'].json.semana_actual }}\n  AND s.numero_sesion = 1\nORDER BY s.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "obtener-sesion-generada",
      "name": "Obtener Sesión Generada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  t.html_template,\n  COALESCE(bs.html_template, '') as banner_subir,\n  COALESCE(bb.html_template, '') as banner_bajar\nFROM email_templates t\nLEFT JOIN email_templates bs ON bs.nombre = 'componente_banner_ajuste_subir' AND bs.version = 1\nLEFT JOIN email_templates bb ON bb.nombre = 'componente_banner_ajuste_bajar' AND bb.version = 1\nWHERE t.nombre = 'email_checkpoint_nueva_semana' AND t.version = 1;",
        "options": {}
      },
      "id": "obtener-template-nueva-semana",
      "name": "Obtener Template Nueva Semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email usando templates de BD\nconst templates = $json;\nconst sesion = $node['Obtener Sesión Generada'].json;\nconst checkpointData = $node['Procesar Checkpoint'].json;\n\nconsole.log('📧 Preparando email checkpoint con sesión nueva semana');\n\nconst webhookUrl = process.env.WEBHOOK_URL || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.id}?token=${sesion.auth_token}`;\n\n// Calcular total ejercicios y enfoque\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// Determinar banner de ajuste usando accion_tomada (nuevo campo)\nlet bannerAjuste = '';\nconst accion = checkpointData.accion_tomada;\nconsole.log('🎯 Acción tomada:', accion);\n\nif (accion && accion !== 'mantener') {\n  let bannerTemplate = '';\n\n  if (accion === 'subir' || accion === 'subir_mucho') {\n    bannerTemplate = templates.banner_subir;\n  } else if (accion === 'bajar' || accion === 'bajar_mucho') {\n    bannerTemplate = templates.banner_bajar;\n  }\n\n  if (bannerTemplate) {\n    bannerAjuste = bannerTemplate\n      .replace(/\\{\\{ajuste_razon\\}\\}/g, checkpointData.ajuste_razon || '')\n      .replace(/\\{\\{ajuste_nivel\\}\\}/g, (checkpointData.nivel_actual || '').toUpperCase())\n      .replace(/\\{\\{ajuste_intensidad\\}\\}/g, checkpointData.ajuste_intensidad || '');\n  }\n}\n\n// Reemplazar variables en el template principal\nconst emailHTML = templates.html_template\n  .replace(/\\{\\{semana\\}\\}/g, sesion.semana || '')\n  .replace(/\\{\\{nombre\\}\\}/g, sesion.user_nombre || '')\n  .replace(/\\{\\{semana_anterior\\}\\}/g, (checkpointData.semana_actual - 1) || '')\n  .replace(/\\{\\{banner_ajuste\\}\\}/g, bannerAjuste)\n  .replace(/\\{\\{titulo\\}\\}/g, sesion.titulo || '')\n  .replace(/\\{\\{descripcion\\}\\}/g, sesion.descripcion || 'Sesión personalizada para tu nivel')\n  .replace(/\\{\\{duracion\\}\\}/g, sesion.duracion_estimada || '30')\n  .replace(/\\{\\{enfoque\\}\\}/g, enfoqueTexto)\n  .replace(/\\{\\{contenido\\}\\}/g, totalEjercicios)\n  .replace(/\\{\\{sesion_url\\}\\}/g, sesionUrl)\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, checkpointData.sesiones_objetivo_semana || '');\n\nreturn {\n  json: {\n    user_id: sesion.user_id,\n    user_email: sesion.user_email,\n    user_nombre: sesion.user_nombre,\n    sesion_id: sesion.id,\n    email_html: emailHTML,\n    asunto: `🎯 Semana ${sesion.semana} - Sesión 1: ${sesion.titulo}`\n  }\n};\n"
      },
      "id": "preparar-email-sesion",
      "name": "Preparar Email Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-sesion-util",
      "name": "Enviar Email Sesión (UTIL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>¡Confirmado!</title></head><body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #232323; color: #E8E8E8; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0;\"><div style=\"background: #1C1C1C; padding: 40px; border-radius: 18px; text-align: center; max-width: 450px;\"><div style=\"font-size: 64px; margin-bottom: 20px;\">🎉</div><h1 style=\"color: #62B882; margin: 0 0 15px 0;\">¡Perfecto, {{ $node['Procesar Checkpoint'].json.nombre }}!</h1><p style=\"color: #B5B5B5; font-size: 16px; margin: 0 0 25px 0;\">Tu configuración para la <strong style=\"color: #DFCA61;\">Semana {{ $node['Procesar Checkpoint'].json.semana_actual }}</strong></p><div style=\"background: rgba(98,184,130,0.1); border-radius: 12px; padding: 20px; margin: 20px 0;\"><p style=\"margin: 5px 0; color: #B5B5B5;\">📊 Nivel: <strong style=\"color: #E8E8E8;\">{{ $node['Procesar Checkpoint'].json.nivel_actual.toUpperCase() }}</strong></p><p style=\"margin: 5px 0; color: #B5B5B5;\">⚡ Intensidad: <strong style=\"color: #E8E8E8;\">{{ $node['Procesar Checkpoint'].json.intensidad_nivel }}%</strong></p><p style=\"margin: 5px 0; color: #B5B5B5;\">📅 Sesiones/semana: <strong style=\"color: #E8E8E8;\">{{ $node['Procesar Checkpoint'].json.sesiones_objetivo_semana }}</strong></p></div><p style=\"color: #62B882; margin: 20px 0 0 0;\">📬 En breve recibirás tu primera sesión por email</p></div></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-confirmacion",
      "name": "Responder Confirmación Inmediata",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Error</title></head><body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #232323; color: #E8E8E8; display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0;\"><div style=\"background: #1C1C1C; padding: 40px; border-radius: 18px; text-align: center; max-width: 400px;\"><div style=\"font-size: 48px; margin-bottom: 20px;\">❌</div><h1 style=\"color: #EF5350; margin: 0 0 15px 0;\">Error</h1><p style=\"color: #B5B5B5; margin: 0;\">Hubo un problema procesando tu checkpoint. Por favor, intenta de nuevo o contacta soporte.</p></div></body></html>",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-error",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Checkpoint Semanal": {
      "main": [
        [
          {
            "node": "Analizar Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Semana": {
      "main": [
        [
          {
            "node": "Procesar Checkpoint",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Checkpoint": {
      "main": [
        [
          {
            "node": "IF: ¿Checkpoint ya procesado?",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Checkpoint ya procesado?": {
      "main": [
        [
          {
            "node": "Responder Ya Procesado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: ¿Programa completado (>12 sem)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Programa completado (>12 sem)?": {
      "main": [
        [
          {
            "node": "Marcar Programa Completado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Confirmación Inmediata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Confirmación Inmediata": {
      "main": [
        [
          {
            "node": "Llamar Generador Sesión IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Programa Completado": {
      "main": [
        [
          {
            "node": "Obtener Template Fin Programa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Fin Programa": {
      "main": [
        [
          {
            "node": "Preparar Email Fin Programa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Fin Programa": {
      "main": [
        [
          {
            "node": "Enviar Email Fin (UTIL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Fin (UTIL)": {
      "main": [
        [
          {
            "node": "Responder Programa Completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Generador Sesión IA": {
      "main": [
        [
          {
            "node": "Obtener Sesión Generada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión Generada": {
      "main": [
        [
          {
            "node": "Obtener Template Nueva Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Nueva Semana": {
      "main": [
        [
          {
            "node": "Preparar Email Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Sesión": {
      "main": [
        [
          {
            "node": "Enviar Email Sesión (UTIL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Sesión (UTIL)": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "v5-respuesta-inmediata              ",
  "versionCounter": 43,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-19T20:03:07.656Z",
      "createdAt": "2026-01-19T20:03:07.656Z",
      "role": "workflow:owner",
      "workflowId": "xpthbEm1BVvFGemC",
      "projectId": "UdrpUrR3Q6pngStF",
      "project": {
        "updatedAt": "2025-12-30T11:32:25.894Z",
        "createdAt": "2025-12-01T10:04:05.303Z",
        "id": "UdrpUrR3Q6pngStF",
        "name": "Albert Villanueva Carreras <albertvc10@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
