programa-camino-vital/workflows/07-procesar-checkpoint-semanal.json
{
  "updatedAt": "2026-02-13T12:00:00.000Z",
  "createdAt": "2026-01-19T20:03:07.656Z",
  "id": "v8HjVPF07oBYmLBX",
  "name": "Camino Vital - 07 Procesar Checkpoint Semanal",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "checkpoint-semanal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-checkpoint",
      "name": "Webhook Checkpoint Semanal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "checkpoint-semanal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM config WHERE key IN ('WEBHOOK_URL');",
        "options": {}
      },
      "id": "obtener-config",
      "name": "Obtener Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [360, 300],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combinar query params con config\nconst webhookData = $('Webhook Checkpoint Semanal').first().json;\nconst configItems = $('Obtener Config').all();\n\n// Construir objeto config\nconst config = {};\nconfigItems.forEach(item => {\n  config[item.json.key] = item.json.value;\n});\n\nreturn {\n  json: {\n    query: webhookData.query,\n    config: config\n  }\n};"
      },
      "id": "combinar-config",
      "name": "Combinar Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Analizar la semana del usuario para obtener recomendaciones\nSELECT * FROM analizar_semana_para_checkpoint({{ $json.query.user_id }});",
        "options": {}
      },
      "id": "analizar-semana",
      "name": "Analizar Semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [600, 300],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Procesar checkpoint con la elección del usuario\nSELECT * FROM procesar_checkpoint_interactivo(\n  {{ $node['Analizar Semana'].json.out_user_id }},\n  {{ $node['Combinar Config'].json.query.sesiones || 3 }},\n  '{{ $node['Analizar Semana'].json.accion_nivel }}',\n  {{ $node['Analizar Semana'].json.accion_intensidad }},\n  '{{ $node['Analizar Semana'].json.adherencia_nivel }}',\n  '{{ $node['Analizar Semana'].json.feedback_mayoritario }}',\n  '{{ $node['Analizar Semana'].json.explicacion_corta }}'\n);",
        "options": {}
      },
      "id": "procesar-checkpoint",
      "name": "Procesar Checkpoint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [800, 300],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Añadir config al resultado del checkpoint\nconst checkpointData = $json;\nconst configData = $('Combinar Config').first().json.config;\n\nreturn {\n  json: {\n    ...checkpointData,\n    config: configData\n  }\n};"
      },
      "id": "add-config",
      "name": "Añadir Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ya-procesado",
              "leftValue": "={{ $json.estado_checkpoint }}",
              "rightValue": "ya_procesado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ya-procesado",
      "name": "IF: ¿Checkpoint ya procesado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'checkpoint_ya_procesado' AND activo = true;",
        "options": {}
      },
      "id": "obtener-template-ya-procesado",
      "name": "Obtener Template Ya Procesado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1200, 200],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_template }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-ya-procesado",
      "name": "Responder Ya Procesado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "programa-completado",
              "leftValue": "={{ $json.semana_actual }}",
              "rightValue": 13,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-programa-completado",
      "name": "IF: ¿Programa completado (>12 sem)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1260, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE programa_users\nSET estado = 'completado', updated_at = NOW()\nWHERE id = {{ $json.id }}\nRETURNING *;",
        "options": {}
      },
      "id": "marcar-programa-completado",
      "name": "Marcar Programa Completado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1480, 350],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'programa_completado' AND version = 1;",
        "options": {}
      },
      "id": "obtener-template-fin",
      "name": "Obtener Template Fin Programa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1700, 350],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email de programa completado\nconst template = $json.html_template;\nconst usuario = $node['Marcar Programa Completado'].json;\nconst config = $node['Añadir Config'].json.config;\nconst webhookUrl = config.WEBHOOK_URL || 'http://localhost:5678';\n\nconst emailHTML = template\n  .replace(/\\{\\{nombre\\}\\}/g, usuario.nombre || 'Usuario')\n  .replace(/\\{\\{nivel_actual\\}\\}/g, usuario.nivel_actual || '')\n  .replace(/\\{\\{intensidad\\}\\}/g, usuario.intensidad_nivel || '');\n\nreturn {\n  json: {\n    user_id: usuario.id,\n    user_email: usuario.email,\n    user_nombre: usuario.nombre,\n    email_html: emailHTML,\n    asunto: 'Felicidades - Has completado Camino Vital',\n    webhook_url: webhookUrl\n  }\n};"
      },
      "id": "preparar-email-fin",
      "name": "Preparar Email Fin Programa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-fin-util",
      "name": "Enviar Email Fin (UTIL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2140, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'pagina_programa_completado' AND activo = true;",
        "options": {}
      },
      "id": "obtener-pagina-fin",
      "name": "Obtener Página Fin Programa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2360, 350],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_template }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-programa-completado",
      "name": "Responder Programa Completado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2540, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'pagina_checkpoint_confirmado' AND activo = true;",
        "options": {}
      },
      "id": "obtener-template-confirmacion",
      "name": "Obtener Template Confirmación",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1380, 500],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Renderizar template de confirmación con datos del usuario\nconst template = $json.html_template;\nconst userData = $node['Añadir Config'].json;\n\nconst renderedHTML = template\n  .replace(/\\{\\{nombre\\}\\}/g, userData.nombre || '')\n  .replace(/\\{\\{semana_actual\\}\\}/g, userData.semana_actual || '')\n  .replace(/\\{\\{nivel_actual\\}\\}/g, (userData.nivel_actual || '').toUpperCase())\n  .replace(/\\{\\{intensidad_nivel\\}\\}/g, userData.intensidad_nivel || '')\n  .replace(/\\{\\{sesiones_objetivo_semana\\}\\}/g, userData.sesiones_objetivo_semana || '');\n\nreturn {\n  json: {\n    html_rendered: renderedHTML,\n    userData: userData\n  }\n};"
      },
      "id": "renderizar-confirmacion",
      "name": "Renderizar Confirmación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_rendered }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-confirmacion",
      "name": "Responder Confirmación Inmediata",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Añadir Config'].json.config.WEBHOOK_URL || 'http://localhost:5678' }}/webhook/generar-sesion-ia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $node['Añadir Config'].json.id }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "llamar-generador-ia",
      "name": "Llamar Generador Sesión IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  s.*,\n  u.email as user_email,\n  u.nombre as user_nombre,\n  u.nivel_actual,\n  u.intensidad_nivel,\n  u.volumen_extra,\n  u.auth_token\nFROM programa_sesiones s\nJOIN programa_users u ON s.user_id = u.id\nWHERE s.user_id = {{ $node['Añadir Config'].json.id }}\n  AND s.semana = {{ $node['Añadir Config'].json.semana_actual }}\n  AND s.numero_sesion = 1\nORDER BY s.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "obtener-sesion-generada",
      "name": "Obtener Sesión Generada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2180, 500],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  t.html_template,\n  COALESCE(bs.html_template, '') as banner_subir,\n  COALESCE(bb.html_template, '') as banner_bajar\nFROM email_templates t\nLEFT JOIN email_templates bs ON bs.nombre = 'componente_banner_ajuste_subir' AND bs.version = 1\nLEFT JOIN email_templates bb ON bb.nombre = 'componente_banner_ajuste_bajar' AND bb.version = 1\nWHERE t.nombre = 'email_checkpoint_nueva_semana' AND t.version = 1;",
        "options": {}
      },
      "id": "obtener-template-nueva-semana",
      "name": "Obtener Template Nueva Semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2400, 500],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email usando templates de BD\nconst templates = $json;\nconst sesion = $node['Obtener Sesión Generada'].json;\nconst checkpointData = $node['Añadir Config'].json;\nconst config = checkpointData.config;\n\nconsole.log('Preparando email checkpoint con sesión nueva semana');\n\nconst webhookUrl = config.WEBHOOK_URL || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.id}?token=${sesion.auth_token}`;\n\n// Calcular total ejercicios y enfoque\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// Determinar banner de ajuste usando accion_tomada (nuevo campo)\nlet bannerAjuste = '';\nconst accion = checkpointData.accion_tomada;\nconsole.log('Acción tomada:', accion);\n\nif (accion && accion !== 'mantener') {\n  let bannerTemplate = '';\n\n  if (accion === 'subir' || accion === 'subir_mucho') {\n    bannerTemplate = templates.banner_subir;\n  } else if (accion === 'bajar' || accion === 'bajar_mucho') {\n    bannerTemplate = templates.banner_bajar;\n  }\n\n  if (bannerTemplate) {\n    bannerAjuste = bannerTemplate\n      .replace(/\\{\\{ajuste_razon\\}\\}/g, checkpointData.ajuste_razon || '')\n      .replace(/\\{\\{ajuste_nivel\\}\\}/g, (checkpointData.nivel_actual || '').toUpperCase())\n      .replace(/\\{\\{ajuste_intensidad\\}\\}/g, checkpointData.ajuste_intensidad || '');\n  }\n}\n\n// Reemplazar variables en el template principal\nconst emailHTML = templates.html_template\n  .replace(/\\{\\{semana\\}\\}/g, sesion.semana || '')\n  .replace(/\\{\\{nombre\\}\\}/g, sesion.user_nombre || '')\n  .replace(/\\{\\{semana_anterior\\}\\}/g, (checkpointData.semana_actual - 1) || '')\n  .replace(/\\{\\{banner_ajuste\\}\\}/g, bannerAjuste)\n  .replace(/\\{\\{titulo\\}\\}/g, sesion.titulo || '')\n  .replace(/\\{\\{descripcion\\}\\}/g, sesion.descripcion || 'Sesión personalizada para tu nivel')\n  .replace(/\\{\\{duracion\\}\\}/g, sesion.duracion_estimada || '30')\n  .replace(/\\{\\{enfoque\\}\\}/g, enfoqueTexto)\n  .replace(/\\{\\{contenido\\}\\}/g, totalEjercicios)\n  .replace(/\\{\\{sesion_url\\}\\}/g, sesionUrl)\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, checkpointData.sesiones_objetivo_semana || '');\n\nreturn {\n  json: {\n    user_id: sesion.user_id,\n    user_email: sesion.user_email,\n    user_nombre: sesion.user_nombre,\n    sesion_id: sesion.id,\n    email_html: emailHTML,\n    asunto: `Semana ${sesion.semana} - Sesión 1: ${sesion.titulo}`,\n    webhook_url: webhookUrl\n  }\n};\n"
      },
      "id": "preparar-email-sesion",
      "name": "Preparar Email Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email-sesion-util",
      "name": "Enviar Email Sesión (UTIL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'pagina_error' AND activo = true;",
        "options": {}
      },
      "id": "obtener-template-error",
      "name": "Obtener Template Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [720, 500],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Renderizar template de error\nconst template = $json.html_template;\n\nconst errorIcon = '<svg width=\"64\" height=\"64\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#EF5350\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"10\"></circle><line x1=\"15\" y1=\"9\" x2=\"9\" y2=\"15\"></line><line x1=\"9\" y1=\"9\" x2=\"15\" y2=\"15\"></line></svg>';\n\nconst renderedHTML = template\n  .replace(/\\{\\{titulo\\}\\}/g, 'Error')\n  .replace(/\\{\\{icono\\}\\}/g, errorIcon)\n  .replace(/\\{\\{mensaje\\}\\}/g, 'Hubo un problema procesando tu checkpoint. Por favor, intenta de nuevo o contacta soporte.')\n  .replace(/\\{\\{#if contacto\\}\\}[\\s\\S]*?\\{\\{\\/if\\}\\}/g, '');\n\nreturn {\n  json: {\n    html_rendered: renderedHTML\n  }\n};"
      },
      "id": "renderizar-error",
      "name": "Renderizar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_rendered }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "responder-error",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 500]
    }
  ],
  "connections": {
    "Webhook Checkpoint Semanal": {
      "main": [
        [
          {
            "node": "Obtener Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Config": {
      "main": [
        [
          {
            "node": "Combinar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Config": {
      "main": [
        [
          {
            "node": "Analizar Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Semana": {
      "main": [
        [
          {
            "node": "Procesar Checkpoint",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Obtener Template Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Checkpoint": {
      "main": [
        [
          {
            "node": "Añadir Config",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Obtener Template Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Error": {
      "main": [
        [
          {
            "node": "Renderizar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Error": {
      "main": [
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir Config": {
      "main": [
        [
          {
            "node": "IF: ¿Checkpoint ya procesado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Checkpoint ya procesado?": {
      "main": [
        [
          {
            "node": "Obtener Template Ya Procesado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: ¿Programa completado (>12 sem)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Ya Procesado": {
      "main": [
        [
          {
            "node": "Responder Ya Procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Programa completado (>12 sem)?": {
      "main": [
        [
          {
            "node": "Marcar Programa Completado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Template Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Confirmación": {
      "main": [
        [
          {
            "node": "Renderizar Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar Confirmación": {
      "main": [
        [
          {
            "node": "Responder Confirmación Inmediata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Confirmación Inmediata": {
      "main": [
        [
          {
            "node": "Llamar Generador Sesión IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Programa Completado": {
      "main": [
        [
          {
            "node": "Obtener Template Fin Programa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Fin Programa": {
      "main": [
        [
          {
            "node": "Preparar Email Fin Programa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Fin Programa": {
      "main": [
        [
          {
            "node": "Enviar Email Fin (UTIL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Fin (UTIL)": {
      "main": [
        [
          {
            "node": "Obtener Página Fin Programa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Página Fin Programa": {
      "main": [
        [
          {
            "node": "Responder Programa Completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Generador Sesión IA": {
      "main": [
        [
          {
            "node": "Obtener Sesión Generada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión Generada": {
      "main": [
        [
          {
            "node": "Obtener Template Nueva Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Template Nueva Semana": {
      "main": [
        [
          {
            "node": "Preparar Email Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Sesión": {
      "main": [
        [
          {
            "node": "Enviar Email Sesión (UTIL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Sesión (UTIL)": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "v7-templates-bd",
  "versionCounter": 45,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-19T20:03:07.656Z",
      "createdAt": "2026-01-19T20:03:07.656Z",
      "role": "workflow:owner",
      "workflowId": "xpthbEm1BVvFGemC",
      "projectId": "UdrpUrR3Q6pngStF",
      "project": {
        "updatedAt": "2025-12-30T11:32:25.894Z",
        "createdAt": "2025-12-01T10:04:05.303Z",
        "id": "UdrpUrR3Q6pngStF",
        "name": "Albert Villanueva Carreras <albertvc10@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
