programa-camino-vital/workflows/Camino Vital - 09 Mostrar Sesión.json
{
  "name": "Camino Vital - 09 Mostrar Sesión",
  "nodes": [
    {
      "parameters": {
        "path": "sesion/:sesion_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a989723-b882-40be-a0d1-9d748d5c2c5a",
      "name": "Webhook Mostrar Sesión",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "view-session"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SET search_path TO public;\n\nSELECT id as user_id, nombre, email, auth_token\nFROM programa_users\nWHERE auth_token = '{{ $json.query.token }}';",
        "options": {}
      },
      "id": "31c1f1a9-adc5-4d92-a11b-9ae679869bff",
      "name": "Validar Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [224, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usuarios = $input.all();\n\nif (usuarios.length === 0) {\n  throw new Error('Token inválido o expirado');\n}\n\nconst usuario = usuarios[0].json;\nconst sesionId = $node[\"Webhook Mostrar Sesión\"].json.params.sesion_id;\n\nconsole.log('✅ Token válido para usuario:', usuario.nombre);\n\nreturn {\n  json: {\n    user_id: usuario.user_id,\n    user_nombre: usuario.nombre,\n    user_email: usuario.email,\n    sesion_id: sesionId,\n    params: {\n      sesion_id: sesionId\n    }\n  }\n};"
      },
      "id": "1fdbc566-1a9a-4fc5-855d-7701a79883e9",
      "name": "Verificar Token Válido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SET search_path TO public;\n\n-- Obtener sesión completa con datos del usuario\nSELECT \n  s.id,\n  s.titulo,\n  s.descripcion,\n  s.introduccion_personalizada,\n  s.enfoque,\n  s.duracion_estimada,\n  s.calentamiento,\n  s.trabajo_principal,\n  s.numero_sesion,\n  s.semana,\n  s.completada,\n  u.id as user_id,\n  u.nombre as user_nombre,\n  u.email as user_email,\n  u.sesiones_objetivo_semana,\n  u.nivel_actual\nFROM programa_sesiones s\nJOIN programa_users u ON s.user_id = u.id\nWHERE s.id = {{ $json.params.sesion_id }}\n  AND u.id = {{ $json.user_id }};",
        "options": {}
      },
      "id": "e85d89f1-9c90-4096-94d7-d6630179f54e",
      "name": "Obtener Sesión",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [672, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nombre, html_template FROM email_templates WHERE nombre IN ('css_base_habitos_vitales', 'pagina_sesion') AND activo = true;",
        "options": {}
      },
      "id": "obtener-templates-001",
      "name": "Obtener Templates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [896, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos de sesión y templates\nconst sesion = $node[\"Obtener Sesión\"].json;\nconst templatesData = $input.all();\n\nif (!sesion || !sesion.id) {\n  throw new Error('Sesión no encontrada');\n}\n\n// Organizar templates por nombre\nconst templates = {};\ntemplatesData.forEach(t => {\n  templates[t.json.nombre] = t.json.html_template;\n});\n\nconst cssBase = templates['css_base_habitos_vitales'] || '';\nconst templatePagina = templates['pagina_sesion'] || '';\n\nconsole.log('📋 Generando página de sesión con templates de BD...');\n\n// Parsear JSONs si vienen como strings (manejar null para sesiones de cardio)\nlet calentamiento = null;\nif (sesion.calentamiento) {\n  calentamiento = typeof sesion.calentamiento === 'string'\n    ? JSON.parse(sesion.calentamiento)\n    : sesion.calentamiento;\n}\n\nlet trabajoPrincipal = null;\nif (sesion.trabajo_principal) {\n  trabajoPrincipal = typeof sesion.trabajo_principal === 'string'\n    ? JSON.parse(sesion.trabajo_principal)\n    : sesion.trabajo_principal;\n}\n\n// Log de ejercicios (manejar null)\nconst numCalentamiento = calentamiento ? calentamiento.length : 0;\nconst numPrincipal = trabajoPrincipal ? trabajoPrincipal.length : 0;\nconsole.log(`🏋️ ${numCalentamiento} ejercicios de calentamiento`);\nconsole.log(`💪 ${numPrincipal} ejercicios principales`);\n\n// URL base de Firebase Storage\nconst firebaseBaseUrl = 'https://firebasestorage.googleapis.com/v0/b/playfit-21e92.appspot.com/o/video%2F';\nconst firebaseToken = '?alt=media';\n\n// Función para generar HTML de un ejercicio\nfunction generarEjercicioHTML(ejercicio, index, tipo) {\n  const videoUrl = `${firebaseBaseUrl}${encodeURIComponent(ejercicio.nombre_archivo)}${firebaseToken}`;\n  const numero = tipo === 'calentamiento' ? `C${index + 1}` : index + 1;\n  \n  return `\n    <div class=\"ejercicio ejercicio-${tipo}\">\n      <div class=\"ejercicio-header\">\n        <div class=\"ejercicio-numero ejercicio-numero-${tipo}\">${numero}</div>\n        <h3>${ejercicio.nombre_espanol}</h3>\n      </div>\n      \n      <div class=\"video-container\">\n        <video controls playsinline loop preload=\"metadata\">\n          <source src=\"${videoUrl}\" type=\"video/quicktime\">\n          <source src=\"${videoUrl}\" type=\"video/mp4\">\n          Tu navegador no soporta el tag de video.\n        </video>\n      </div>\n      \n      <div class=\"ejercicio-detalles\">\n        <div><strong>📊 Repeticiones:</strong> ${ejercicio.repeticiones}</div>\n        <div><strong>⏱️ Duración:</strong> ${ejercicio.duracion_aprox}</div>\n        ${ejercicio.notas ? `\n        <div class=\"ejercicio-consejo\">\n          <strong>💡 Consejo:</strong> ${ejercicio.notas}\n        </div>\n        ` : ''}\n      </div>\n    </div>\n  `;\n}\n\n// Generar HTML de ejercicios (manejar null para sesiones de cardio)\nconst htmlCalentamiento = calentamiento \n  ? calentamiento.map((ej, idx) => generarEjercicioHTML(ej, idx, 'calentamiento')).join('')\n  : '<p style=\"color: #B5B5B5; text-align: center; padding: 20px;\">Esta sesión no incluye calentamiento específico.</p>';\n\nconst htmlTrabajoPrincipal = trabajoPrincipal \n  ? trabajoPrincipal.map((ej, idx) => generarEjercicioHTML(ej, idx, 'principal')).join('')\n  : '<p style=\"color: #B5B5B5; text-align: center; padding: 20px;\">Contenido de la sesión en preparación.</p>';\n\n// Iconos por enfoque\nconst iconosEnfoque = {\n  'movilidad': '🧘',\n  'fuerza': '💪',\n  'cardio': '❤️',\n  'equilibrio': '⚖️',\n  'mixto': '🎯'\n};\n\nconst iconoEnfoque = iconosEnfoque[sesion.enfoque] || '🎯';\n\n// URLs\n// Detectar entorno por el host de la request si está disponible, sino usar localhost
const webhookUrl = process.env.WEBHOOK_URL || 'http://localhost:5678';\nconst feedbackProblemasUrl = `${webhookUrl}/webhook/feedback-problemas?user_id=${sesion.user_id}&sesion=${sesion.numero_sesion}`;\n\n// Reemplazar variables en el template\nlet paginaHTML = templatePagina\n  .replace(/\\{\\{css_base\\}\\}/g, cssBase)\n  .replace(/\\{\\{titulo\\}\\}/g, sesion.titulo)\n  .replace(/\\{\\{user_nombre\\}\\}/g, sesion.user_nombre)\n  .replace(/\\{\\{duracion_estimada\\}\\}/g, sesion.duracion_estimada)\n  .replace(/\\{\\{nivel_actual\\}\\}/g, sesion.nivel_actual)\n  .replace(/\\{\\{enfoque\\}\\}/g, sesion.enfoque)\n  .replace(/\\{\\{numero_sesion\\}\\}/g, sesion.numero_sesion)\n  .replace(/\\{\\{semana_actual\\}\\}/g, sesion.semana)\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, sesion.sesiones_objetivo_semana)\n  .replace(/\\{\\{introduccion_personalizada\\}\\}/g, sesion.introduccion_personalizada)\n  .replace(/\\{\\{html_calentamiento\\}\\}/g, htmlCalentamiento)\n  .replace(/\\{\\{html_trabajo_principal\\}\\}/g, htmlTrabajoPrincipal)\n  .replace(/\\{\\{webhook_url\\}\\}/g, webhookUrl)\n  .replace(/\\{\\{user_id\\}\\}/g, sesion.user_id)\n  .replace(/\\{\\{feedback_problemas_url\\}\\}/g, feedbackProblemasUrl)\n  .replace(/\\{\\{icono_enfoque\\}\\}/g, iconoEnfoque);\n\nconsole.log('✅ HTML generado desde templates de BD');\n\nreturn {\n  json: {\n    sesion_id: sesion.id,\n    html: paginaHTML\n  }\n};"
      },
      "id": "878540c2-939b-4b75-8d0f-2c28c2e98403",
      "name": "Generar HTML Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "3b9a857e-429f-4ab9-91bf-549aaf3347e3",
      "name": "Responder HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1344, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Acceso denegado</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(180deg, #232323 0%, #1C1C1C 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 20px;\n    }\n    .card {\n      background: #1C1C1C;\n      border-radius: 18px;\n      padding: 50px 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.4);\n      border: 1px solid rgba(255,255,255,0.08);\n      text-align: center;\n      max-width: 450px;\n    }\n    .icon { font-size: 64px; margin-bottom: 25px; }\n    h1 {\n      color: #E74C3C;\n      margin: 0 0 20px 0;\n      font-size: 28px;\n    }\n    p {\n      font-size: 16px;\n      line-height: 1.6;\n      color: #B5B5B5;\n    }\n    a {\n      color: #DFCA61;\n      text-decoration: none;\n      font-weight: 600;\n    }\n    a:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">🔒</div>\n    <h1>Acceso denegado</h1>\n    <p>El enlace que estás usando no es válido o ha expirado.</p>\n    <p style=\"margin-top: 25px;\">\n      Por favor, usa el enlace que recibiste en tu email.<br><br>\n      Si crees que esto es un error, contacta con nosotros:<br>\n      <a href=\"mailto:hola@habitos-vitales.com\">hola@habitos-vitales.com</a>\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "0c6c5bfb-4ce9-4def-996c-ec63711e3a14",
      "name": "Responder Error Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [832, 288]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Mostrar Sesión": {
      "main": [[{"node": "Validar Token", "type": "main", "index": 0}]]
    },
    "Validar Token": {
      "main": [[{"node": "Verificar Token Válido", "type": "main", "index": 0}]]
    },
    "Verificar Token Válido": {
      "main": [
        [{"node": "Obtener Sesión", "type": "main", "index": 0}],
        [{"node": "Responder Error Token", "type": "main", "index": 0}]
      ]
    },
    "Obtener Sesión": {
      "main": [
        [{"node": "Obtener Templates", "type": "main", "index": 0}],
        [{"node": "Responder Error Token", "type": "main", "index": 0}]
      ]
    },
    "Obtener Templates": {
      "main": [[{"node": "Generar HTML Sesión", "type": "main", "index": 0}]]
    },
    "Generar HTML Sesión": {
      "main": [[{"node": "Responder HTML", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "358c13bd-97c0-438b-8001-cc7f2a2d8f20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84e52699fab62b1fb2c5be95d249c5bcabdd7574acb0d2876e03aca6f6c8a022"
  },
  "id": "kKbBsBRr48hFi1aS",
  "tags": []
}
