programa-camino-vital/workflows/Camino Vital - 09 Mostrar Sesión.json
{
  "name": "Camino Vital - 09 Mostrar Sesión",
  "nodes": [
    {
      "parameters": {
        "path": "sesion/:sesion_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a989723-b882-40be-a0d1-9d748d5c2c5a",
      "name": "Webhook Mostrar Sesión",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "view-session"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM config WHERE key IN ('WEBHOOK_URL');",
        "options": {}
      },
      "id": "obtener-config-09",
      "name": "Obtener Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [112, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SET search_path TO public;\n\nSELECT id as user_id, nombre, email, auth_token\nFROM programa_users\nWHERE auth_token = '{{ $node[\"Webhook Mostrar Sesión\"].json.query.token }}';",
        "options": {}
      },
      "id": "31c1f1a9-adc5-4d92-a11b-9ae679869bff",
      "name": "Validar Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [224, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usuarios = $input.all();\n\nif (usuarios.length === 0) {\n  throw new Error('Token inválido o expirado');\n}\n\nconst usuario = usuarios[0].json;\nconst sesionId = $node[\"Webhook Mostrar Sesión\"].json.params.sesion_id;\n\nconsole.log('✅ Token válido para usuario:', usuario.nombre);\n\nreturn {\n  json: {\n    user_id: usuario.user_id,\n    user_nombre: usuario.nombre,\n    user_email: usuario.email,\n    sesion_id: sesionId,\n    params: {\n      sesion_id: sesionId\n    }\n  }\n};"
      },
      "id": "1fdbc566-1a9a-4fc5-855d-7701a79883e9",
      "name": "Verificar Token Válido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SET search_path TO public;\n\n-- Obtener sesión completa con datos del usuario\n-- Incluye campos tanto para FUERZA como CARDIO\nSELECT \n  s.id,\n  s.titulo,\n  s.descripcion,\n  s.introduccion_personalizada,\n  s.enfoque,\n  s.duracion_estimada,\n  -- Campos FUERZA\n  s.calentamiento,\n  s.trabajo_principal,\n  -- Campos CARDIO\n  s.tipo_actividad,\n  s.calentamiento_texto,\n  s.actividad_principal,\n  s.senales_de_alerta,\n  s.consejos_seguridad,\n  s.progresion_sugerida,\n  -- Metadata\n  s.numero_sesion,\n  s.semana,\n  s.completada,\n  u.id as user_id,\n  u.nombre as user_nombre,\n  u.email as user_email,\n  u.sesiones_objetivo_semana,\n  u.nivel_actual\nFROM programa_sesiones s\nJOIN programa_users u ON s.user_id = u.id\nWHERE s.id = {{ $json.params.sesion_id }}\n  AND u.id = {{ $json.user_id }};",
        "options": {}
      },
      "id": "e85d89f1-9c90-4096-94d7-d6630179f54e",
      "name": "Obtener Sesión",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [672, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nombre, html_template FROM email_templates WHERE nombre = 'pagina_sesion_v2' AND activo = true;",
        "options": {}
      },
      "id": "obtener-templates-001",
      "name": "Obtener Templates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [896, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Generar HTML de Sesión - Template V2 (Moderna)\n// ============================================\n// Esta versión usa un template que maneja todo con JavaScript\n// en el cliente. Solo necesitamos pasar los datos como JSON.\n// Soporta tanto sesiones de FUERZA como de CARDIO.\n\nconst sesion = $node[\"Obtener Sesión\"].json;\nconst templatesData = $input.all();\n\nif (!sesion || !sesion.id) {\n  throw new Error('Sesión no encontrada');\n}\n\n// Obtener template\nconst templatePagina = templatesData[0]?.json?.html_template || '';\n\nif (!templatePagina) {\n  throw new Error('Template pagina_sesion_v2 no encontrado');\n}\n\nconsole.log('📋 Generando página de sesión V2 (moderna)...');\nconsole.log(`🎯 Enfoque: ${sesion.enfoque}`);\n\n// ============================================\n// Parsear campos de FUERZA (pueden ser null para cardio)\n// ============================================\nlet calentamiento = null;\nif (sesion.calentamiento) {\n  calentamiento = typeof sesion.calentamiento === 'string'\n    ? JSON.parse(sesion.calentamiento)\n    : sesion.calentamiento;\n}\n\nlet trabajoPrincipal = null;\nif (sesion.trabajo_principal) {\n  trabajoPrincipal = typeof sesion.trabajo_principal === 'string'\n    ? JSON.parse(sesion.trabajo_principal)\n    : sesion.trabajo_principal;\n}\n\n// ============================================\n// Parsear campos de CARDIO (pueden ser null para fuerza)\n// ============================================\nlet actividadPrincipal = null;\nif (sesion.actividad_principal) {\n  actividadPrincipal = typeof sesion.actividad_principal === 'string'\n    ? JSON.parse(sesion.actividad_principal)\n    : sesion.actividad_principal;\n}\n\n// senales_de_alerta y consejos_seguridad ya vienen como arrays\nconst senalesAlerta = sesion.senales_de_alerta || [];\nconst consejosSeguridad = sesion.consejos_seguridad || [];\n\n// ============================================\n// Crear objeto de datos completo para el cliente\n// ============================================\nconst sessionData = {\n  // Datos básicos\n  id: sesion.id,\n  titulo: sesion.titulo || 'Sesión de ejercicios',\n  descripcion: sesion.descripcion || '',\n  introduccion_personalizada: sesion.introduccion_personalizada || '',\n  enfoque: sesion.enfoque || 'fuerza',\n  duracion_estimada: sesion.duracion_estimada || '25-30 minutos',\n  \n  // Datos de FUERZA\n  calentamiento: calentamiento,\n  trabajo_principal: trabajoPrincipal,\n  \n  // Datos de CARDIO\n  tipo_actividad: sesion.tipo_actividad || null,\n  calentamiento_texto: sesion.calentamiento_texto || null,\n  actividad_principal: actividadPrincipal,\n  senales_de_alerta: senalesAlerta,\n  consejos_seguridad: consejosSeguridad,\n  progresion_sugerida: sesion.progresion_sugerida || null,\n  \n  // Metadata\n  numero_sesion: sesion.numero_sesion || 1,\n  semana: sesion.semana || 1,\n  user_id: sesion.user_id,\n  user_nombre: sesion.user_nombre || '',\n  sesiones_objetivo_semana: sesion.sesiones_objetivo_semana || 3,\n  nivel_actual: sesion.nivel_actual || 'iniciacion'\n};\n\n// Log según tipo\nif (sesion.enfoque === 'cardio') {\n  console.log(`❤️ Sesión de CARDIO: ${sesion.tipo_actividad || 'sin tipo'}`);\n  console.log(`📊 Fases: ${actividadPrincipal?.fases?.length || 0}`);\n} else {\n  console.log(`🏋️ Calentamiento: ${calentamiento ? calentamiento.length : 0} ejercicios`);\n  console.log(`💪 Trabajo principal: ${trabajoPrincipal ? trabajoPrincipal.length : 0} ejercicios`);\n}\n\n// ============================================\n// Obtener config y URLs\n// ============================================\nconst configItems = $('Obtener Config').all();\nconst config = {};\nconfigItems.forEach(item => {\n  config[item.json.key] = item.json.value;\n});\n\nconst webhookUrl = config.WEBHOOK_URL || 'http://localhost:5678';\nconst feedbackProblemasUrl = `${webhookUrl}/webhook/feedback-problemas?user_id=${sesion.user_id}&sesion=${sesion.numero_sesion}`;\n\n// ============================================\n// Renderizar template\n// ============================================\nconst sessionJsonString = JSON.stringify(sessionData);\n\nlet paginaHTML = templatePagina\n  .replace(/\\{\\{titulo\\}\\}/g, sessionData.titulo)\n  .replace(/\\{\\{user_nombre\\}\\}/g, sessionData.user_nombre)\n  .replace(/\\{\\{user_id\\}\\}/g, sessionData.user_id)\n  .replace(/\\{\\{numero_sesion\\}\\}/g, sessionData.numero_sesion)\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, sessionData.sesiones_objetivo_semana)\n  .replace(/\\{\\{webhook_url\\}\\}/g, webhookUrl)\n  .replace(/\\{\\{feedback_problemas_url\\}\\}/g, feedbackProblemasUrl)\n  .replace(/\\{\\{session_json\\}\\}/g, sessionJsonString);\n\nconsole.log('✅ HTML V2 generado correctamente');\n\nreturn {\n  json: {\n    sesion_id: sesion.id,\n    html: paginaHTML\n  }\n};"
      },
      "id": "878540c2-939b-4b75-8d0f-2c28c2e98403",
      "name": "Generar HTML Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "3b9a857e-429f-4ab9-91bf-549aaf3347e3",
      "name": "Responder HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1344, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Acceso denegado</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n      background: linear-gradient(180deg, #232323 0%, #1C1C1C 100%);\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 20px;\n    }\n    .card {\n      background: #1C1C1C;\n      border-radius: 18px;\n      padding: 50px 40px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.4);\n      border: 1px solid rgba(255,255,255,0.08);\n      text-align: center;\n      max-width: 450px;\n    }\n    .icon { font-size: 64px; margin-bottom: 25px; }\n    h1 {\n      color: #E74C3C;\n      margin: 0 0 20px 0;\n      font-size: 28px;\n    }\n    p {\n      font-size: 16px;\n      line-height: 1.6;\n      color: #B5B5B5;\n    }\n    a {\n      color: #DFCA61;\n      text-decoration: none;\n      font-weight: 600;\n    }\n    a:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">🔒</div>\n    <h1>Acceso denegado</h1>\n    <p>El enlace que estás usando no es válido o ha expirado.</p>\n    <p style=\"margin-top: 25px;\">\n      Por favor, usa el enlace que recibiste en tu email.<br><br>\n      Si crees que esto es un error, contacta con nosotros:<br>\n      <a href=\"mailto:hola@habitos-vitales.com\">hola@habitos-vitales.com</a>\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "0c6c5bfb-4ce9-4def-996c-ec63711e3a14",
      "name": "Responder Error Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [832, 288]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Mostrar Sesión": {
      "main": [[{"node": "Obtener Config", "type": "main", "index": 0}]]
    },
    "Obtener Config": {
      "main": [[{"node": "Validar Token", "type": "main", "index": 0}]]
    },
    "Validar Token": {
      "main": [[{"node": "Verificar Token Válido", "type": "main", "index": 0}]]
    },
    "Verificar Token Válido": {
      "main": [
        [{"node": "Obtener Sesión", "type": "main", "index": 0}],
        [{"node": "Responder Error Token", "type": "main", "index": 0}]
      ]
    },
    "Obtener Sesión": {
      "main": [
        [{"node": "Obtener Templates", "type": "main", "index": 0}],
        [{"node": "Responder Error Token", "type": "main", "index": 0}]
      ]
    },
    "Obtener Templates": {
      "main": [[{"node": "Generar HTML Sesión", "type": "main", "index": 0}]]
    },
    "Generar HTML Sesión": {
      "main": [[{"node": "Responder HTML", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cad1662-17fc-4e5a-b6a2-8370db3093ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84e52699fab62b1fb2c5be95d249c5bcabdd7574acb0d2876e03aca6f6c8a022"
  },
  "id": "kKbBsBRr48hFi1aS",
  "tags": []
}
