programa-camino-vital/workflows/UTIL-reenviar-sesion.json
{
  "name": "UTIL - Reenviar Sesion Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reenviar-sesion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-reenviar",
      "name": "Webhook Reenviar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "reenviar-sesion"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  ps.id as sesion_id,\n  ps.titulo,\n  ps.enfoque,\n  ps.numero_sesion,\n  ps.semana,\n  ps.introduccion_personalizada,\n  ps.duracion_estimada,\n  ps.calentamiento,\n  ps.trabajo_principal,\n  ps.tipo_actividad,\n  ps.calentamiento_texto,\n  ps.actividad_principal,\n  pu.id as user_id,\n  pu.email,\n  pu.nombre,\n  pu.auth_token,\n  pu.nivel_actual,\n  pu.sesiones_objetivo_semana,\n  pu.semana_actual\nFROM programa_sesiones ps\nJOIN programa_users pu ON ps.user_id = pu.id\nWHERE ps.id = {{ $json.body.session_id }};",
        "options": {}
      },
      "id": "obtener-datos",
      "name": "Obtener Datos Sesion y Usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [200, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT html_template FROM email_templates WHERE nombre = 'email_sesion_siguiente' AND activo = true;",
        "options": {}
      },
      "id": "obtener-template",
      "name": "Obtener Template Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [400, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'WEBHOOK_URL';",
        "options": {}
      },
      "id": "obtener-config",
      "name": "Obtener Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [600, 0],
      "credentials": {
        "postgres": {
          "id": "nLcUOvLreXurFbBs",
          "name": "PostgreSQL Camino Vital Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar email usando template de BD - mismo patrón que 01-bis y 07\nconst sesion = $node['Obtener Datos Sesion y Usuario'].json;\nconst template = $node['Obtener Template Email'].json.html_template;\nconst config = $node['Obtener Config'].json;\n\nconst webhookUrl = config.value || 'http://localhost:5678';\nconst sesionUrl = `${webhookUrl}/webhook/view-session/sesion/${sesion.sesion_id}?token=${sesion.auth_token}`;\n\n// Calcular contenido según tipo de sesión (mismo cálculo que 01-bis)\nlet totalEjercicios = 'N/A';\nlet enfoqueTexto = sesion.enfoque || 'Mixto';\n\nif (sesion.enfoque === 'fuerza' && sesion.calentamiento && sesion.trabajo_principal) {\n  const calentamiento = typeof sesion.calentamiento === 'string' ? JSON.parse(sesion.calentamiento) : sesion.calentamiento;\n  const trabajoPrincipal = typeof sesion.trabajo_principal === 'string' ? JSON.parse(sesion.trabajo_principal) : sesion.trabajo_principal;\n  totalEjercicios = `${(calentamiento?.length || 0) + (trabajoPrincipal?.length || 0)} ejercicios personalizados`;\n  enfoqueTexto = 'Fuerza Funcional';\n} else if (sesion.enfoque === 'cardio') {\n  totalEjercicios = 'Actividad cardiovascular guiada';\n  enfoqueTexto = 'Cardio y Resistencia';\n}\n\n// Reemplazar variables en template de BD (mismas variables que 01-bis)\nconst emailHTML = template\n  .replace(/\\{\\{nombre\\}\\}/g, sesion.nombre || '')\n  .replace(/\\{\\{sesiones_objetivo\\}\\}/g, sesion.sesiones_objetivo_semana || '')\n  .replace(/\\{\\{introduccion\\}\\}/g, sesion.introduccion_personalizada || 'Sesión diseñada para tu nivel y objetivos.')\n  .replace(/\\{\\{duracion\\}\\}/g, sesion.duracion_estimada || '25-30 minutos')\n  .replace(/\\{\\{enfoque\\}\\}/g, enfoqueTexto)\n  .replace(/\\{\\{contenido\\}\\}/g, totalEjercicios)\n  .replace(/\\{\\{nivel\\}\\}/g, sesion.nivel_actual || '')\n  .replace(/\\{\\{sesion_url\\}\\}/g, sesionUrl);\n\nreturn {\n  json: {\n    user_id: sesion.user_id,\n    user_email: sesion.email,\n    user_nombre: sesion.nombre,\n    sesion_id: sesion.sesion_id,\n    sesiones_objetivo: sesion.sesiones_objetivo_semana,\n    semana: sesion.semana_actual,\n    sesion_numero: sesion.numero_sesion,\n    email_html: emailHTML,\n    asunto: `Tu Sesión ${sesion.numero_sesion} de ${sesion.sesiones_objetivo_semana}: ${sesion.titulo}`,\n    webhook_url: webhookUrl,\n    session_url: sesionUrl\n  }\n};"
      },
      "id": "renderizar-email",
      "name": "Renderizar Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}/webhook/util/enviar-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-email",
      "name": "Enviar Email (UTIL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Email reenviado correctamente',\n  sesion_id: $node['Renderizar Email'].json.sesion_id,\n  email: $node['Renderizar Email'].json.user_email,\n  session_url: $node['Renderizar Email'].json.session_url\n} }}",
        "options": {}
      },
      "id": "responder-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Webhook Reenviar": {
      "main": [[{"node": "Obtener Datos Sesion y Usuario", "type": "main", "index": 0}]]
    },
    "Obtener Datos Sesion y Usuario": {
      "main": [[{"node": "Obtener Template Email", "type": "main", "index": 0}]]
    },
    "Obtener Template Email": {
      "main": [[{"node": "Obtener Config", "type": "main", "index": 0}]]
    },
    "Obtener Config": {
      "main": [[{"node": "Renderizar Email", "type": "main", "index": 0}]]
    },
    "Renderizar Email": {
      "main": [[{"node": "Enviar Email (UTIL)", "type": "main", "index": 0}]]
    },
    "Enviar Email (UTIL)": {
      "main": [[{"node": "Responder OK", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "util-reenviar-sesion-v2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "util-reenviar-sesion",
  "tags": []
}
